
<div class="menu_58f7bdc3" id="menu_58f7bdc3">
	<div class="container_58f7bdc3 menu_container_58f7bdc3">
		<nav class="menu_navigation_58f7bdc3">
			<a class="menu_navigation_link_58f7bdc3" href="#">Услуги</a>
			<a class="menu_navigation_link_58f7bdc3" href="#">Дикторы</a>
			<a class="menu_navigation_link_58f7bdc3" href="#">Рейтинги</a>
			<a class="menu_navigation_link_58f7bdc3" href="#">Инфопортал</a>
		</nav>

		<button class="menu_button_58f7bdc3" onclick="openForm()">Быстрый заказ</button>
	</div>
</div>