
.form_58f7bdc3 {
	width: 100%;
	max-width: 500px;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	background-color: #F4F4F4;
	display: none;
	flex-direction: column;
	gap: 15px;
	padding: 40px;
	border-radius: 55px;

	@media screen and (max-width: 810px) {
		max-width: 320px;
		padding: 40px 30px;
		border-radius: 35px;
	}
}

.form_58f7bdc3_active {
	display: flex;
}

.form_input_date_58f7bdc3 {
	position: relative;
}

.form_input_58f7bdc3 {
	width: 100%;
	height: 40px;
	padding: 0 15px;
	border-radius: 12px;
	outline: none;
	border: none;
	font-size: 13px;
	line-height: 15px;
	font-weight: 500;
	color: #3B4173;
}

.form_input_58f7bdc3::placeholder {
	color: #BCBFD7;
	font-weight: 400;
}

.form_textarea_58f7bdc3 {
	height: 120px;
	resize: none;
	padding: 15px;
}

.form_button_58f7bdc3 {
	height: 50px;
	border-radius: 12px;
	background-color: #C1492E;
	border: none;
	color: white;
	font-weight: 500;
	line-height: 135%;
	font-size: 15px;
	transition: all .2s ease-in-out;
}

.form_button_58f7bdc3:hover {
	background-color: #DF3E1A;
}

.form_agreement_58f7bdc3 {
	display: flex;
	align-items: center;
	gap: 10px;
}

.form_agreement_checkbox_58f7bdc3 {
	width: 15px;
	height: 15px;
	border: 1px solid #3B4173;
	border-radius: 5px;
	background-color: white;
}

.form_agreement_text_58f7bdc3 {
	font-size: 13px;
	line-height: 15px;
	color: #3B4173;
}

.form_agreement_link_58f7bdc3 {
	color: #5E67B3;
	text-decoration: underline;
	text-decoration-color: transparent;
}

.form_agreement_link_58f7bdc3:hover {
	text-decoration-color: #5E67B3;
}