
<div class="form_58f7bdc3" id="form_58f7bdc3">
	<input class="form_input_58f7bdc3" type="text" placeholder="Ваше имя" aria-label="Ваше имя" required>
	<input class="form_input_58f7bdc3" type="text" placeholder="Событие" aria-label="Введите событие" required>

	<div class="form_input_date_58f7bdc3">
		<input class="form_input_58f7bdc3" id="dateInput" placeholder="День события" type="text" readonly>

		@include("../form_calendar/form_calendar.html")
	</div>

	<input class="form_input_58f7bdc3" type="tel" placeholder="+7 (000) 000-00-00" aria-label="Ваш номер телефона" required>

	<button class="form_button_58f7bdc3" type="submit" onclick="submitForm()" >Отправить</button>

	<div class="form_agreement_58f7bdc3">
		<input class="form_agreement_checkbox_58f7bdc3" type="checkbox" aria-label="" required>

		<div class="form_agreement_text_58f7bdc3">
			Я согласен с условиями
			<a class="form_agreement_link_58f7bdc3" href="#">обработки персональных данных</a>
			и
			<a class="form_agreement_link_58f7bdc3" href="#">политикой конфиденциальности</a>
		</div>
	</div>
</div>