
<div class="info_58f7bdc3">
	<h2 class="info_title_58f7bdc3">О ведущем</h2>

	<p class="info_text_58f7bdc3">
		Владимир преподает все вокальные направления уже более 10 лет.
	</p>
	<p class="info_text_58f7bdc3">
		По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
	</p>
	<p class="info_text_58f7bdc3">
		У Владимира за плечами большой и насыщенный творческий путь: от вокалиста-солиста и театрального актера до художественного руководителя, ведущего и организатора мероприятий.
	</p>
	<p class="info_text_58f7bdc3">
		Владимир уверен, что каждый может петь — нужны только вера в себя, поддержка и грамотно выстроенная работа. Его главная задача — вдохновить и помочь найти людям свой настоящий голос.
	</p>
	<p class="info_text_58f7bdc3"> </p>
	<p class="info_text_58f7bdc3">
		Цитата: “Музыка — это дело всей моей жизни. И я рад делиться этим с учениками.”
	</p>

	<h3 class="info_subtitle_58f7bdc3">Кого озвучивал</h3>

	<div class="swiper info_list_characters_58f7bdc3">
		<ul class="swiper-wrapper">
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./img/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
		</ul>
	</div>

	<h2 class="info_title_58f7bdc3">Цены</h2>

	<ul class="info_prices_58f7bdc3">
		<li class="info_price_58f7bdc3">
			<h3 class="info_price_title_58f7bdc3">Ведущий, 6 часов</h3>
			<p class="info_price_count_58f7bdc3">от 80000₽ / 6 часов</p>
		</li>
		<li class="info_price_58f7bdc3">
			<h3 class="info_price_title_58f7bdc3">Ведущий, 6 часов</h3>
			<p class="info_price_count_58f7bdc3">от 80000₽ / 6 часов</p>
		</li>
		<li class="info_price_58f7bdc3">
			<h3 class="info_price_title_58f7bdc3">Ведущий, 6 часов</h3>
			<p class="info_price_count_58f7bdc3">от 80000₽ / 6 часов</p>
		</li>
		<li class="info_price_58f7bdc3">
			<h3 class="info_price_title_58f7bdc3">Ведущий, 6 часов</h3>
			<p class="info_price_count_58f7bdc3">от 80000₽ / 6 часов</p>
		</li>
	</ul>

	<h2 class="info_title_58f7bdc3">Видео</h2>

	<div class="swiper info_list_video_58f7bdc3">
		<div class="swiper-wrapper">
			<iframe
				class="swiper-slide info_video_58f7bdc3"
				src="https://vkvideo.ru/video_ext.php?oid=-20404579&id=456239127&hash=5ab786914649287d"
				style="border: none;"
				allow="clipboard-write; autoplay"
				allowFullScreen
			></iframe>
			<iframe
			class="swiper-slide info_video_58f7bdc3"
			src="https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d"
			style="border: none;"
			allow="clipboard-write; autoplay"
			allowFullScreen
		></iframe>
			<iframe
				class="swiper-slide info_video_58f7bdc3"
				src="https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d"
				style="border: none;"
				allow="clipboard-write; autoplay"
				allowFullScreen
			></iframe>
		</div>
	</div>

	<div class="info_swiper_navigation_58f7bdc3">
		<button class="info_swiper_button_58f7bdc3 info_swiper_button_prev_video_58f7bdc3">
			<img class="info_swiper_button_icon_58f7bdc3" src="./img/arrow_left.svg" alt="<" >
		</button>
		<button class="info_swiper_button_58f7bdc3 info_swiper_button_next_video_58f7bdc3">
			<img class="info_swiper_button_icon_58f7bdc3" src="./img/arrow_right.svg" alt=">" >
		</button>
	</div>

	<h2 class="info_title_58f7bdc3">Фото</h2>

	<div class="swiper info_list_photo_58f7bdc3">
		<div class="swiper-wrapper">
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://img.freepik.com/free-photo/black-cat-crossing-neon-city-street_23-2152005296.jpg?semt=ais_hybrid&w=740&q=80')">
				<img class="info_list_photo_image_58f7bdc3" src="https://img.freepik.com/free-photo/black-cat-crossing-neon-city-street_23-2152005296.jpg?semt=ais_hybrid&w=740&q=80" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://i.pinimg.com/736x/74/f5/80/74f5802b74f420ab40e7f618b9479636.jpg')">
				<img class="info_list_photo_image_58f7bdc3" src="https://i.pinimg.com/736x/74/f5/80/74f5802b74f420ab40e7f618b9479636.jpg" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://i.pinimg.com/736x/aa/98/6f/aa986fd996bcff4ad2dcf483f130c561.jpg')">
				<img class="info_list_photo_image_58f7bdc3" src="https://i.pinimg.com/736x/aa/98/6f/aa986fd996bcff4ad2dcf483f130c561.jpg" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('./img/gallery.png')">
				<img class="info_list_photo_image_58f7bdc3" src="./img/gallery.png" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://img.freepik.com/free-photo/black-cat-crossing-neon-city-street_23-2152005296.jpg?semt=ais_hybrid&w=740&q=80')">
				<img class="info_list_photo_image_58f7bdc3" src="https://img.freepik.com/free-photo/black-cat-crossing-neon-city-street_23-2152005296.jpg?semt=ais_hybrid&w=740&q=80" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://i.pinimg.com/736x/74/f5/80/74f5802b74f420ab40e7f618b9479636.jpg')">
				<img class="info_list_photo_image_58f7bdc3" src="https://i.pinimg.com/736x/74/f5/80/74f5802b74f420ab40e7f618b9479636.jpg" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://i.pinimg.com/736x/aa/98/6f/aa986fd996bcff4ad2dcf483f130c561.jpg')">
				<img class="info_list_photo_image_58f7bdc3" src="https://i.pinimg.com/736x/aa/98/6f/aa986fd996bcff4ad2dcf483f130c561.jpg" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('./img/gallery.png')">
				<img class="info_list_photo_image_58f7bdc3" src="./img/gallery.png" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://img.freepik.com/free-photo/black-cat-crossing-neon-city-street_23-2152005296.jpg?semt=ais_hybrid&w=740&q=80')">
				<img class="info_list_photo_image_58f7bdc3" src="https://img.freepik.com/free-photo/black-cat-crossing-neon-city-street_23-2152005296.jpg?semt=ais_hybrid&w=740&q=80" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://i.pinimg.com/736x/74/f5/80/74f5802b74f420ab40e7f618b9479636.jpg')">
				<img class="info_list_photo_image_58f7bdc3" src="https://i.pinimg.com/736x/74/f5/80/74f5802b74f420ab40e7f618b9479636.jpg" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://i.pinimg.com/736x/aa/98/6f/aa986fd996bcff4ad2dcf483f130c561.jpg')">
				<img class="info_list_photo_image_58f7bdc3" src="https://i.pinimg.com/736x/aa/98/6f/aa986fd996bcff4ad2dcf483f130c561.jpg" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('./img/gallery.png')">
				<img class="info_list_photo_image_58f7bdc3" src="./img/gallery.png" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://img.freepik.com/free-photo/black-cat-crossing-neon-city-street_23-2152005296.jpg?semt=ais_hybrid&w=740&q=80')">
				<img class="info_list_photo_image_58f7bdc3" src="https://img.freepik.com/free-photo/black-cat-crossing-neon-city-street_23-2152005296.jpg?semt=ais_hybrid&w=740&q=80" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://i.pinimg.com/736x/74/f5/80/74f5802b74f420ab40e7f618b9479636.jpg')">
				<img class="info_list_photo_image_58f7bdc3" src="https://i.pinimg.com/736x/74/f5/80/74f5802b74f420ab40e7f618b9479636.jpg" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('https://i.pinimg.com/736x/aa/98/6f/aa986fd996bcff4ad2dcf483f130c561.jpg')">
				<img class="info_list_photo_image_58f7bdc3" src="https://i.pinimg.com/736x/aa/98/6f/aa986fd996bcff4ad2dcf483f130c561.jpg" alt="">
			</div>
			<div class="swiper-slide info_photo_58f7bdc3" onclick="openVideoPopup('./img/gallery.png')">
				<img class="info_list_photo_image_58f7bdc3" src="./img/gallery.png" alt="">
			</div>
		</div>
	</div>

	<div class="info_swiper_navigation_58f7bdc3">
		<button class="info_swiper_button_58f7bdc3 info_swiper_button_prev_photo_58f7bdc3">
			<img class="info_swiper_button_icon_58f7bdc3" src="./img/arrow_left.svg" alt="<" >
		</button>
		<button class="info_swiper_button_58f7bdc3 info_swiper_button_next_photo_58f7bdc3">
			<img class="info_swiper_button_icon_58f7bdc3" src="./img/arrow_right.svg" alt=">" >
		</button>
	</div>

	<h2 class="info_title_58f7bdc3">Комментарии</h2>

	<div class="info_comments_block_58f7bdc3">
		<div class="swiper info_comments_list_58f7bdc3">
			<ul class="swiper-wrapper">
				<li class="swiper-slide">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>

<!--						<button class="info_comment_button_58f7bdc3">Ответить</button>-->
					</div>
				</li>

				<li class="swiper-slide info_comment_answer_58f7bdc3">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide info_comment_answer_58f7bdc3">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide info_comment_answer_58f7bdc3">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую
							академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>
				<li class="swiper-slide">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide info_comment_answer_58f7bdc3">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide info_comment_answer_58f7bdc3">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide info_comment_answer_58f7bdc3">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую
							академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>
				<li class="swiper-slide">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide info_comment_answer_58f7bdc3">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide info_comment_answer_58f7bdc3">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>

				<li class="swiper-slide info_comment_answer_58f7bdc3">
					<div class="info_comment_58f7bdc3">
						<div class="info_comment_author_58f7bdc3">
							<p class="info_comment_author_name_58f7bdc3">Янчик</p>
							<p class="info_comment_author_date_58f7bdc3">2 года назад</p>
						</div>

						<p class="info_comment_text_58f7bdc3">
							По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую
							академию им. Маймонида. По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
						</p>
					</div>
				</li>
			</ul>
		</div>

		<button class="info_comment_add_58f7bdc3" id="info_comment_add_58f7bdc3" onclick="showMoreComments()"></button>

		<div class="comment-form-container" id="comment-form-container">
			<form id="comment-form" class="comment-box" action="/comment/create" method="post">
				<input type="hidden" name="_csrf-frontend" value="gqCyJmt5MUvZabFGOhAWhN71UYnKAa_42dfiG6wQEVfdjcMfOy9-GJYI4jMKIySpuqMQ64tGxLWG5rV99Up6Dg==">    <div class="form-item">
				<div class="form-group form-item__input field-comment-name required">

					<input type="text" id="comment-name" class="form-control" name="Comment[name]" placeholder="Ваше имя" data-comment="name" aria-required="true">

					<div class="help-block"></div>
				</div>    </div>
				<div class="form-item">
					<div class="form-group form-item__input field-comment-content required">

						<textarea id="comment-content" class="form-control" name="Comment[content]" rows="4" placeholder="Добавить комментарий..." data-comment="content" aria-required="true"></textarea>

						<div class="help-block"></div>
					</div>    </div>
				<div class="form-group field-comment-parent_id">
					<input type="hidden" id="comment-parent_id" class="form-control" name="Comment[parent_id]" data-comment="parent-id">
				</div>    <div class="form-group field-comment-entity_id required">
				<input type="hidden" id="comment-entity_id" class="form-control" name="Comment[entity_id]" value="2343" data-comment="entity-id">
			</div>        <div class="comment-box-partial">
				<div class="button-container show">
					<a id="cancel-reply" class="pull-right" href="#" data-action="cancel-reply">Отмена</a>            <button type="submit" class="button button--frame comment-submit">Опубликовать комментарий</button>        </div>
			</div>
			</form>    <div class="clearfix"></div>
		</div>

		<div class="info_comment_navigation_58f7bdc3">
			<button class="info_swiper_button_58f7bdc3 info_swiper_button_prev_comments_58f7bdc3">
				<img class="info_swiper_button_icon_58f7bdc3" src="./img/arrow_left.svg" alt="<" >
			</button>

			<div class="info_comment_pagination_container_58f7bdc3">
				<div class="info_comment_pagination_58f7bdc3"></div>
			</div>


			<button class="info_swiper_button_58f7bdc3 info_swiper_button_next_comments_58f7bdc3">
				<img class="info_swiper_button_icon_58f7bdc3" src="./img/arrow_right.svg" alt=">" >
			</button>
		</div>
	</div>

	<h2 class="info_title_58f7bdc3">Фильмы</h2>

	<div class="swiper info_list_movies_58f7bdc3">
		<ul class="swiper-wrapper">
			<li class="swiper-slide info_movie_58f7bdc3">
				<img class="info_movie_cover_58f7bdc3" src="./img/cover.png" alt="">
				<h3 class="info_movie_title_58f7bdc3">Ультрамен: <br> Путь к вершине</h3>
				<p class="info_movie_description_58f7bdc3">2024, фэнтези, боевик, комедия, приключения, семейный, США, Япония</p>
			</li>
			<li class="swiper-slide info_movie_58f7bdc3">
				<img class="info_movie_cover_58f7bdc3" src="./img/cover.png" alt="">
				<h3 class="info_movie_title_58f7bdc3">Ультрамен: <br> Путь к вершине</h3>
				<p class="info_movie_description_58f7bdc3">2024, фэнтези, боевик, комедия, приключения, семейный, США, Япония</p>
			</li>
			<li class="swiper-slide info_movie_58f7bdc3">
				<img class="info_movie_cover_58f7bdc3" src="./img/cover.png" alt="">
				<h3 class="info_movie_title_58f7bdc3">Ультрамен: <br> Путь к вершине</h3>
				<p class="info_movie_description_58f7bdc3">2024, фэнтези, боевик, комедия, приключения, семейный, США, Япония</p>
			</li>
			<li class="swiper-slide info_movie_58f7bdc3">
				<img class="info_movie_cover_58f7bdc3" src="./img/cover.png" alt="">
				<h3 class="info_movie_title_58f7bdc3">Ультрамен: <br> Путь к вершине</h3>
				<p class="info_movie_description_58f7bdc3">2024, фэнтези, боевик, комедия, приключения, семейный, США, Япония</p>
			</li>
			<li class="swiper-slide info_movie_58f7bdc3">
				<img class="info_movie_cover_58f7bdc3" src="./img/cover.png" alt="">
				<h3 class="info_movie_title_58f7bdc3">Ультрамен: <br> Путь к вершине</h3>
				<p class="info_movie_description_58f7bdc3">2024, фэнтези, боевик, комедия, приключения, семейный, США, Япония</p>
			</li>
			<li class="swiper-slide info_movie_58f7bdc3">
				<img class="info_movie_cover_58f7bdc3" src="./img/cover.png" alt="">
				<h3 class="info_movie_title_58f7bdc3">Ультрамен: <br> Путь к вершине</h3>
				<p class="info_movie_description_58f7bdc3">2024, фэнтези, боевик, комедия, приключения, семейный, США, Япония</p>
			</li>
		</ul>
	</div>
</div>

