
<div class="info_58f7bdc3">
	<h2 class="info_title_58f7bdc3">О ведущем</h2>

	<p class="info_text_58f7bdc3">
		Владимир преподает все вокальные направления уже более 10 лет.
	</p>
	<p class="info_text_58f7bdc3">
		По образованию Владимир — солист-вокалист и преподаватель. Он окончил Государственную классическую академию им. Маймонида.
	</p>
	<p class="info_text_58f7bdc3">
		У Владимира за плечами большой и насыщенный творческий путь: от вокалиста-солиста и театрального актера до художественного руководителя, ведущего и организатора мероприятий.
	</p>
	<p class="info_text_58f7bdc3">
		Владимир уверен, что каждый может петь — нужны только вера в себя, поддержка и грамотно выстроенная работа. Его главная задача — вдохновить и помочь найти людям свой настоящий голос.
	</p>
	<p class="info_text_58f7bdc3"> </p>
	<p class="info_text_58f7bdc3">
		Цитата: “Музыка — это дело всей моей жизни. И я рад делиться этим с учениками.”
	</p>

	<h3 class="info_subtitle_58f7bdc3">Кого озвучивал</h3>

	<div class="swiper info_list_characters_58f7bdc3">
		<ul class="swiper-wrapper">
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
			<li class="swiper-slide info_list_info_character_58f7bdc3">
				<img class="info_list_info_character_photo_58f7bdc3" src="./image/photo_other.png">
				<p class="info_list_info_character_name_58f7bdc3">Доминик
					Торетто</p>
			</li>
		</ul>
	</div>

	<h2 class="info_title_58f7bdc3">Цены</h2>

	<ul class="info_prices_58f7bdc3">
		<li class="info_price_58f7bdc3">
			<h3 class="info_price_title_58f7bdc3">Ведущий, 6 часов</h3>
			<p class="info_price_count_58f7bdc3">от 80000₽</p>
		</li>
		<li class="info_price_58f7bdc3">
			<h3 class="info_price_title_58f7bdc3">Ведущий, 6 часов</h3>
			<p class="info_price_count_58f7bdc3">от 80000₽</p>
		</li>
		<li class="info_price_58f7bdc3">
			<h3 class="info_price_title_58f7bdc3">Ведущий, 6 часов</h3>
			<p class="info_price_count_58f7bdc3">от 80000₽</p>
		</li>
		<li class="info_price_58f7bdc3">
			<h3 class="info_price_title_58f7bdc3">Ведущий, 6 часов</h3>
			<p class="info_price_count_58f7bdc3">от 80000₽</p>
		</li>
	</ul>

	<h2 class="info_title_58f7bdc3">Видео</h2>

	<div class="swiper info_list_video_58f7bdc3">
		<div class="swiper-wrapper">
			<iframe
				class="swiper-slide info_video_58f7bdc3"
				src="https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d"
				style="border: none;"
				allow="clipboard-write; autoplay"
				allowFullScreen
			></iframe>
			<iframe
				class="swiper-slide info_video_58f7bdc3"
				src="https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d"
				style="border: none;"
				allow="clipboard-write; autoplay"
				allowFullScreen
			></iframe>
			<iframe
			class="swiper-slide info_video_58f7bdc3"
			src="https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d"
			style="border: none;"
			allow="clipboard-write; autoplay"
			allowFullScreen
		></iframe>
			<iframe
				class="swiper-slide info_video_58f7bdc3"
				src="https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d"
				style="border: none;"
				allow="clipboard-write; autoplay"
				allowFullScreen
			></iframe>
		</div>
	</div>

	<div class="info_swiper_navigation_58f7bdc3">
		<button class="info_swiper_button_58f7bdc3 info_swiper_button_prev_video_58f7bdc3">
			<img class="info_swiper_button_icon_58f7bdc3" src="./image/arrow_left.svg" alt="<" >
		</button>
		<button class="info_swiper_button_58f7bdc3 info_swiper_button_next_video_58f7bdc3">
			<img class="info_swiper_button_icon_58f7bdc3" src="./image/arrow_right.svg" alt=">" >
		</button>
	</div>

	<h2 class="info_title_58f7bdc3">Фото</h2>

	<div class="swiper info_list_photo_58f7bdc3">
		<div class="swiper-wrapper">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
			<img class="swiper-slide info_photo_58f7bdc3" src="./image/gallery.png" alt="">
		</div>
	</div>

	<div class="info_swiper_navigation_58f7bdc3">
		<button class="info_swiper_button_58f7bdc3 info_swiper_button_prev_photo_58f7bdc3">
			<img class="info_swiper_button_icon_58f7bdc3" src="./image/arrow_left.svg" alt="<" >
		</button>
		<button class="info_swiper_button_58f7bdc3 info_swiper_button_next_photo_58f7bdc3">
			<img class="info_swiper_button_icon_58f7bdc3" src="./image/arrow_right.svg" alt=">" >
		</button>
	</div>

	<h2 class="info_title_58f7bdc3">Комментарии</h2>

	<h2 class="info_title_58f7bdc3">Фильмы</h2>
</div>

