
<div class="networks_button_container_58f7bdc3" id="networks_button_container_58f7bdc3">
	<a class="networks_network_58f7bdc3" href="https://t.me/studio_kupigolos" target="_blank" rel="noopener noreferrer">
		<img class="networks_button_icon_hover_58f7bdc4" src="./img/telegram_hover.svg" alt="" >
		<img class="networks_button_icon_58f7bdc4" src="./img/telegram.svg" alt="" >
	</a>

	<a class="networks_network_58f7bdc3" href="whatsapp://send?phone=79302125534" target="_blank" rel="noopener noreferrer">
		<img class="networks_button_icon_hover_58f7bdc4" src="./img/whatsapp_hover.svg" alt="" >
		<img class="networks_button_icon_58f7bdc4" src="./img/whatsapp.svg" alt="" >
	</a>

	<button class="networks_button_58f7bdc3" onclick="viewNetworks()">
		<img class="networks_button_icon_58f7bdc3" src="./img/networks.svg" alt="" >
	</button>
</div>