
<div class="other_58f7bdc3 container_58f7bdc3">
	<div class="other_title_58f7bdc3">
		<div class="other_title_icon_58f7bdc3">
			<img src="./img/microphone.svg" alt="">
		</div>

		<p class="other_title_text_58f7bdc3">Другие ведущие</p>
	</div>

	<div class="other_container_58f7bdc3">
		<button class="info_swiper_button_page_artist_58f7bdc3 info_swiper_button_prev_artist_photo_58f7bdc3">
			<img src="./img/arrow_left.svg" alt="<">
		</button>

		<div class="swiper other_artists_58f7bdc3" id="other_artists_58f7bdc3">
			<ul class="swiper-wrapper other_list_artist_58f7bdc3" id="other_list_artist_58f7bdc3">
				<li class="swiper-slide card_58f7bdc3" id="artist_0">
					<div class="bookmark_58f7bdc3">
						<ul class="artists_58f7bdc3">
							<li class="artist_58f7bdc3">
								<img class="artist_photo" src="./img/other.png" alt="" >
							</li>
							<li class="artist_58f7bdc3">
								<img class="artist_photo" src="./img/other.png" alt="" >
							</li>
							<li class="artist_58f7bdc3">
								<img class="artist_photo" src="./img/other.png" alt="" >
							</li>
						</ul>

						<p class="bookmark_title_58f7bdc3">Звёздный диктор!</p>
						<p class="bookmark_text_58f7bdc3">Федеральный диктор, актёр. Голос СТС и Вина Дизеля. Специализация: озвучка рекламы</p>
					</div>
					<button class="like_58f7bdc3">
						<img class="like_icon_hover_58f7bdc3" src="./img/like_fill.svg" alt="">
						<img class="like_icon_58f7bdc3" src="./img/like_border.svg" alt="">
					</button>

					<div class="profile_58f7bdc3">
						<div class="player_58f7bdc3">
							<button class="player_button_58f7bdc3" onClick="togglePlay(0)">
								<img class="player_button_play_58f7bdc3" id="button_0" src="./img/play.svg" alt="">
							</button>

							<img class="player_photo_58f7bdc3" src="./img/other_artist.png" alt="" >
							<div class="player_bar_58f7bdc3" id="bar_0"></div>
							<audio class="player_audio_58f7bdc3" id="card_audio_0" src="https://storage.kupigolos.ru/audio/demo/5881cd5a01f49.mp3" ></audio>
						</div>

						<div class="card_info_58f7bdc3">
							<div class="artist_name_58f7bdc3">
								<a class="artist_name_text_58f7bdc3" href="#">Сергей Чонишвили</a>
								<img class="artist_name_icon_58f7bdc3" src="./img/corona.svg" alt="" >
							</div>

							<ul class="statistics_list_58f7bdc3">
								<li class="statistics_58f7bdc3">
									<p class="statistics_text_58f7bdc3 stars_text_58f7bdc3">4.9</p>
									<div class="star_icons_58f7bdc3">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
									</div>
								</li>

								<li class="statistics_58f7bdc3">
									<img class="reviews_icon_58f7bdc3" src="./img/review.svg" alt="">
									<p class="statistics_text_58f7bdc3">100+ отзывов</p>
								</li>

								<li class="statistics_58f7bdc3">
									<img class="location_icon_58f7bdc3" src="./img/location.svg" alt="">
									<p class="statistics_text_58f7bdc3">г. Москва, Санкт-Петербург</p>
								</li>
							</ul>

							<ul class="tags_58f7bdc3">
								<li class="tag_check_58f7bdc3">
									<img class="tag_check_icon_58f7bdc3" src="./img/check.svg" alt="">
								</li>

								<li class="tag_58f7bdc3">
									<img class="tag_icon_58f7bdc3" src="./img/rings.svg" alt="">
									<p class="tag_title_58f7bdc3">Свадьба</p>
								</li>
								<li class="tag_58f7bdc3">
									<img class="tag_icon_58f7bdc3" src="./img/confetti.svg" alt="">
									<p class="tag_title_58f7bdc3">Корпоратив</p>
								</li>
								<li class="tag_58f7bdc3">
									<img class="tag_icon_58f7bdc3" src="./img/ball.svg" alt="">
									<p class="tag_title_58f7bdc3">Вечеринка</p>
								</li>
							</ul>
						</div>
					</div>

					<div class="swiper gallery_58f7bdc3 gallery_1_58f7bdc3">
						<ul class="swiper-wrapper">
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
						</ul>
					</div>

					<div class="card_footer_58f7bdc3">
						<div class="card_price_58f7bdc3">
							<img class="card_price_icon_58f7bdc3" src="./img/price.svg" alt="">
							<p class="card_price_text_desktop_58f7bdc3">
								Цена от
								<span class="card_price_text_bold_58f7bdc3">10000 ₽</span>
							</p>
							<p class="card_price_text_mobile_58f7bdc3">
								От
								<span class="card_price_text_bold_58f7bdc3">10000₽</span>
							</p>
						</div>

						<div class="card_menu_58f7bdc3">
							<button class="card_button_58f7bdc3 card_button_border_58f7bdc3" id="open-calendar-0">Проверить дату</button>
							<button class="card_button_58f7bdc3 card_button_full_58f7bdc3" onclick="openForm()">Заказать</button>
						</div>
					</div>

					<div class="calendar card_calendar" id="calendar-0">
						<div class="calendar-header">
							<button class="nav-btn" id="prev-month-0" title="Предыдущий месяц">
								<img src="./img/arrow_left.svg" alt="<">
							</button>

							<div class="month-year-selector">
								<select class="month-select" id="month-select-0"></select>
								<select class="year-select" id="year-select-0"></select>
							</div>

							<button class="nav-btn" id="next-month-0" title="Следующий месяц">
								<img src="./img/arrow_right.svg" alt=">">
							</button>
						</div>

						<div class="weekdays">
							<div>Пн</div><div>Вт</div><div>Ср</div><div>Чт</div>
							<div>Пт</div><div>Сб</div><div>Вс</div>
						</div>

						<div class="days" id="calendar-days-0"></div>
					</div>
				</li>

				<li class="swiper-slide card_58f7bdc3" id="artist_1">
					<div class="bookmark_58f7bdc3">
						<ul class="artists_58f7bdc3">
							<li class="artist_58f7bdc3">
								<img class="artist_photo" src="./img/other.png" alt="" >
							</li>
							<li class="artist_58f7bdc3">
								<img class="artist_photo" src="./img/other.png" alt="" >
							</li>
							<li class="artist_58f7bdc3">
								<img class="artist_photo" src="./img/other.png" alt="" >
							</li>
						</ul>

						<p class="bookmark_title_58f7bdc3">Звёздный диктор!</p>
						<p class="bookmark_text_58f7bdc3">Федеральный диктор, актёр. Голос СТС и Вина Дизеля. Специализация: озвучка рекламы</p>
					</div>
					<button class="like_58f7bdc3">
						<img class="like_icon_hover_58f7bdc3" src="./img/like_fill.svg" alt="">
						<img class="like_icon_58f7bdc3" src="./img/like_border.svg" alt="">
					</button>

					<div class="profile_58f7bdc3">
						<div class="player_58f7bdc3">
							<button class="player_button_58f7bdc3" onClick="togglePlay(1)">
								<img class="player_button_play_58f7bdc3" id="button_1" src="./img/play.svg" alt="">
							</button>

							<img class="player_photo_58f7bdc3" src="./img/other_artist.png" alt="" >
							<div class="player_bar_58f7bdc3" id="bar_1"></div>
							<audio class="player_audio_58f7bdc3" id="card_audio_1" src="https://storage.kupigolos.ru/audio/demo/5881cd5a01f49.mp3" ></audio>
						</div>

						<div class="card_info_58f7bdc3">
							<div class="artist_name_58f7bdc3">
								<a class="artist_name_text_58f7bdc3" href="#">Сергей Чонишвили</a>
								<img class="artist_name_icon_58f7bdc3" src="./img/corona.svg" alt="" >
							</div>

							<ul class="statistics_list_58f7bdc3">
								<li class="statistics_58f7bdc3">
									<p class="statistics_text_58f7bdc3 stars_text_58f7bdc3">4.9</p>
									<div class="star_icons_58f7bdc3">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
									</div>
								</li>

								<li class="statistics_58f7bdc3">
									<img class="reviews_icon_58f7bdc3" src="./img/review.svg" alt="">
									<p class="statistics_text_58f7bdc3">100+ отзывов</p>
								</li>

								<li class="statistics_58f7bdc3">
									<img class="location_icon_58f7bdc3" src="./img/location.svg" alt="">
									<p class="statistics_text_58f7bdc3">г. Москва, Санкт-Петербург</p>
								</li>
							</ul>

							<ul class="tags_58f7bdc3">
								<li class="tag_check_58f7bdc3">
									<img class="tag_check_icon_58f7bdc3" src="./img/check.svg" alt="">
								</li>

								<li class="tag_58f7bdc3">
									<img class="tag_icon_58f7bdc3" src="./img/rings.svg" alt="">
									<p class="tag_title_58f7bdc3">Свадьба</p>
								</li>
								<li class="tag_58f7bdc3">
									<img class="tag_icon_58f7bdc3" src="./img/confetti.svg" alt="">
									<p class="tag_title_58f7bdc3">Корпоратив</p>
								</li>
								<li class="tag_58f7bdc3">
									<img class="tag_icon_58f7bdc3" src="./img/ball.svg" alt="">
									<p class="tag_title_58f7bdc3">Вечеринка</p>
								</li>
							</ul>
						</div>
					</div>

					<div class="swiper gallery_58f7bdc3 gallery_2_58f7bdc3">
						<ul class="swiper-wrapper">
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
						</ul>
					</div>

					<div class="card_footer_58f7bdc3">
						<div class="card_price_58f7bdc3">
							<img class="card_price_icon_58f7bdc3" src="./img/price.svg" alt="">
							<p class="card_price_text_desktop_58f7bdc3">
								Цена от
								<span class="card_price_text_bold_58f7bdc3">10000 ₽</span>
							</p>
							<p class="card_price_text_mobile_58f7bdc3">
								От
								<span class="card_price_text_bold_58f7bdc3">10000₽</span>
							</p>
						</div>

						<div class="card_menu_58f7bdc3">
							<button class="card_button_58f7bdc3 card_button_border_58f7bdc3" id="open-calendar-1">Проверить дату</button>
							<button class="card_button_58f7bdc3 card_button_full_58f7bdc3" onclick="openForm()">Заказать</button>
						</div>
					</div>

					<div class="calendar card_calendar" id="calendar-1">
						<div class="calendar-header">
							<button class="nav-btn" id="prev-month-1" title="Предыдущий месяц">
								<img src="./img/arrow_left.svg" alt="<">
							</button>

							<div class="month-year-selector">
								<select class="month-select" id="month-select-1"></select>
								<select class="year-select" id="year-select-1"></select>
							</div>

							<button class="nav-btn" id="next-month-1" title="Следующий месяц">
								<img src="./img/arrow_right.svg" alt=">">
							</button>
						</div>

						<div class="weekdays">
							<div>Пн</div><div>Вт</div><div>Ср</div><div>Чт</div>
							<div>Пт</div><div>Сб</div><div>Вс</div>
						</div>

						<div class="days" id="calendar-days-1"></div>
					</div>
				</li>

				<li class="swiper-slide card_58f7bdc3" id="artist_2">
					<div class="bookmark_58f7bdc3">
						<ul class="artists_58f7bdc3">
							<li class="artist_58f7bdc3">
								<img class="artist_photo" src="./img/other.png" alt="" >
							</li>
							<li class="artist_58f7bdc3">
								<img class="artist_photo" src="./img/other.png" alt="" >
							</li>
							<li class="artist_58f7bdc3">
								<img class="artist_photo" src="./img/other.png" alt="" >
							</li>
						</ul>

						<p class="bookmark_title_58f7bdc3">Звёздный диктор!</p>
						<p class="bookmark_text_58f7bdc3">Федеральный диктор, актёр. Голос СТС и Вина Дизеля. Специализация: озвучка рекламы</p>
					</div>
					<button class="like_58f7bdc3">
						<img class="like_icon_hover_58f7bdc3" src="./img/like_fill.svg" alt="">
						<img class="like_icon_58f7bdc3" src="./img/like_border.svg" alt="">
					</button>

					<div class="profile_58f7bdc3">
						<div class="player_58f7bdc3">
							<button class="player_button_58f7bdc3" onClick="togglePlay(2)">
								<img class="player_button_play_58f7bdc3" id="button_2" src="./img/play.svg" alt="">
							</button>

							<img class="player_photo_58f7bdc3" src="./img/other_artist.png" alt="" >
							<div class="player_bar_58f7bdc3" id="bar_2"></div>
							<audio class="player_audio_58f7bdc3" id="card_audio_2" src="https://storage.kupigolos.ru/audio/demo/5881cd5a01f49.mp3" ></audio>
						</div>

						<div class="card_info_58f7bdc3">
							<div class="artist_name_58f7bdc3">
								<a class="artist_name_text_58f7bdc3" href="#">Сергей Чонишвили</a>
								<img class="artist_name_icon_58f7bdc3" src="./img/corona.svg" alt="" >
							</div>

							<ul class="statistics_list_58f7bdc3">
								<li class="statistics_58f7bdc3">
									<p class="statistics_text_58f7bdc3 stars_text_58f7bdc3">4.9</p>
									<div class="star_icons_58f7bdc3">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
										<img class="star_58f7bdc3" src="./img/star.svg" alt="">
									</div>
								</li>

								<li class="statistics_58f7bdc3">
									<img class="reviews_icon_58f7bdc3" src="./img/review.svg" alt="">
									<p class="statistics_text_58f7bdc3">100+ отзывов</p>
								</li>

								<li class="statistics_58f7bdc3">
									<img class="location_icon_58f7bdc3" src="./img/location.svg" alt="">
									<p class="statistics_text_58f7bdc3">г. Москва, Санкт-Петербург</p>
								</li>
							</ul>

							<ul class="tags_58f7bdc3">
								<li class="tag_check_58f7bdc3">
									<img class="tag_check_icon_58f7bdc3" src="./img/check.svg" alt="">
								</li>

								<li class="tag_58f7bdc3">
									<img class="tag_icon_58f7bdc3" src="./img/rings.svg" alt="">
									<p class="tag_title_58f7bdc3">Свадьба</p>
								</li>
								<li class="tag_58f7bdc3">
									<img class="tag_icon_58f7bdc3" src="./img/confetti.svg" alt="">
									<p class="tag_title_58f7bdc3">Корпоратив</p>
								</li>
								<li class="tag_58f7bdc3">
									<img class="tag_icon_58f7bdc3" src="./img/ball.svg" alt="">
									<p class="tag_title_58f7bdc3">Вечеринка</p>
								</li>
							</ul>
						</div>
					</div>

					<div class="swiper gallery_58f7bdc3 gallery_2_58f7bdc3">
						<ul class="swiper-wrapper">
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
							<li class="swiper-slide gallery_item_58f7bdc3" onclick="openVideoPopup('https://rutube.ru/play/embed/396c102de740d5cfc6ebc42b2616667d')">
								<img class="gallery_image_58f7bdc3" src="./img/gallery.png" alt="">

								<button class="gallery_button_58f7bdc3">
									<img class="gallery_button_icon_58f7bdc3" src="./img/play.svg" alt="">
								</button>
							</li>
						</ul>
					</div>

					<div class="card_footer_58f7bdc3">
						<div class="card_price_58f7bdc3">
							<img class="card_price_icon_58f7bdc3" src="./img/price.svg" alt="">
							<p class="card_price_text_desktop_58f7bdc3">
								Цена от
								<span class="card_price_text_bold_58f7bdc3">10000 ₽</span>
							</p>
							<p class="card_price_text_mobile_58f7bdc3">
								От
								<span class="card_price_text_bold_58f7bdc3">10000₽</span>
							</p>
						</div>

						<div class="card_menu_58f7bdc3">
							<button class="card_button_58f7bdc3 card_button_border_58f7bdc3" id="open-calendar-2">Проверить дату</button>
							<button class="card_button_58f7bdc3 card_button_full_58f7bdc3" onclick="openForm()">Заказать</button>
						</div>
					</div>

					<div class="calendar card_calendar" id="calendar-2">
						<div class="calendar-header">
							<button class="nav-btn" id="prev-month-2" title="Предыдущий месяц">
								<img src="./img/arrow_left.svg" alt="<">
							</button>

							<div class="month-year-selector">
								<select class="month-select" id="month-select-2"></select>
								<select class="year-select" id="year-select-2"></select>
							</div>

							<button class="nav-btn" id="next-month-2" title="Следующий месяц">
								<img src="./img/arrow_right.svg" alt=">">
							</button>
						</div>

						<div class="weekdays">
							<div>Пн</div><div>Вт</div><div>Ср</div><div>Чт</div>
							<div>Пт</div><div>Сб</div><div>Вс</div>
						</div>

						<div class="days" id="calendar-days-2"></div>
					</div>
				</li>
			</ul>
		</div>

		<button class="info_swiper_button_page_artist_58f7bdc3 info_swiper_button_next_artist_58f7bdc3">
			<img src="./img/arrow_right.svg" alt=">">
		</button>
	</div>
</div>