
.other_58f7bdc3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-bottom: 50px;

	@media screen and (max-width: 810px) {
		margin-bottom: 75px;
	}
}

.other_title_58f7bdc3 {
	display: flex;
	gap: 26px;
	align-items: center;

	@media screen and (max-width: 810px) {
		gap: 25px;
		align-items: flex-start;
	}
}

.other_title_icon_58f7bdc3 {
	width: 60px;
	height: 60px;
	background-color: #3B4173;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 810px) {
		width: 35px;
		height: 35px;
	}
}

.other_title_icon_58f7bdc3 img {
	width: 50%;
	height: 50%;
}

.other_title_text_58f7bdc3 {
	font-size: 35px;
	line-height: 135%;
	color: #3B4173;
	font-weight: 700;

	@media screen and (max-width: 810px) {
		font-size: 20px;
	}
}

/* ARTISTS */
.other_artists_58f7bdc3 {
	width: 100%;
	max-width: 900px;
}

.other_list_artist_58f7bdc3 {

}

.other_artist_58f7bdc3 {
	background-color: #F4F4F4;
	border-radius: 35px;
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	text-align: center;

	@media screen and (max-width: 810px) {
		padding: 20px 10px;
		border-radius: 15px;
	}
}

.card_58f7bdc3 {
	width: 900px;
	height: 477px;
	background-color: #F4F4F4;
	border-radius: 55px;
	position: relative;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 36px;

	@media screen and (max-width: 810px) {
		height: auto;
		padding: 20px 10px 30px;
		border-radius: 15px;
	}
}

.bookmark_58f7bdc3 {
	width: 235px;
	height: 97px;
	position: absolute;
	top: 0;
	right: 114px;
	background-image: url("./image/bookmark.svg");
	padding-top: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 8px;

	@media screen and (max-width: 810px) {
		display: none;
	}
}

.artists_58f7bdc3 {
	display: flex;
}

.artist_58f7bdc3 {
	width: 34px;
	height: 34px;
	border: var(--color-accent) 1px solid;
	border-radius: 100%;
}

.artist_58f7bdc3:nth-child(2) {
	margin-left: -7px;
}

.artist_58f7bdc3:nth-child(3) {
	margin-left: -7px;
}

.artist_photo_58f7bdc3 {
	width: 100%;
	height: 100%;
}

.bookmark_title_58f7bdc3 {
	font-size: 13px;
	color: white;
	font-weight: 500;
	text-transform: uppercase;
}

.card_header_58f7bdc3 {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	display: none;

	@media screen and (max-width: 810px) {
		display: flex;
	}
}

.card_header_button_58f7bdc3 {
	width: 21px;
	height: 21px;
	background-color: transparent;
	border: none;
}

.card_header_button_icon_58f7bdc3 {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.card_header_time_58f7bdc3 {
	font-size: 13px;
	line-height: 15px;
	color: #3B4173;
}

.like_58f7bdc3 {
	position: absolute;
	top: 40px;
	right: 35px;
	border: none;
	cursor: pointer;

	@media screen and (max-width: 810px) {
		display: none;
	}
}

.like_icon_58f7bdc3 {
	width: 30px;
	height: 25px;
}

.profile_58f7bdc3 {
	display: flex;
	align-items: center;
	gap: 25px;
	margin-bottom: 12px;

	@media screen and (max-width: 810px) {
		flex-direction: column;
		gap: 15px;
	}
}

.player_58f7bdc3 {
	width: 184px;
	height: 184px;
	position: relative;

	@media screen and (max-width: 810px) {
		width: 125px;
		height: 125px;
	}
}

.player_button_58f7bdc3 {
	width: 63px;
	height: 63px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border-radius: 50%;
	background-color: var(--color-accent);
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	@media screen and (max-width: 810px) {
		width: 40px;
		height: 40px;
	}
}

.player_button_play_58f7bdc3 {
	width: 27px;
	height: 27px;
	margin-left: 7px;

	@media screen and (max-width: 810px) {
		width: 18px;
		height: 18px;
		margin-left: 4px;
	}
}

.player_button_pause_58f7bdc3 {
	width: 32px;
	height: 32px;

	@media screen and (max-width: 810px) {
		width: 20px;
		height: 20px;
	}
}

.photo_58f7bdc3 {
	width: 170px;
	height: 170px;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 1;
	border-radius: 100%;

	@media screen and (max-width: 810px) {
		width: 117px;
		height: 117px;
	}
}

.player_bar_58f7bdc3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	background: conic-gradient(var(--color-accent) 0, transparent 0);
}

.artist_name_58f7bdc3 {
	max-width: 110px;
	display: flex;
	gap: 12px;
	align-items: center;
	margin-bottom: 15px;

	@media screen and (max-width: 810px) {
		margin-bottom: 0;
	}
}

.artist_name_text_58f7bdc3 {
	color: var(--color-accent);
	font-size: 25px;
	line-height: 29px;
	font-weight: 600;

	@media screen and (max-width: 810px) {
		font-size: 14px;
		line-height: 16px;
		font-weight: 400;
		text-align: center;
		text-decoration: underline;
	}
}

.artist_name_text_58f7bdc3:hover {
	text-decoration: underline;
}

.artist_name_icon_58f7bdc3 {
	@media screen and (max-width: 810px) {
		display: none;
	}
}

.statistics_list_58f7bdc3 {
	display: flex;
	gap: 15px;
	align-items: center;
	margin-bottom: 20px;

	@media screen and (max-width: 810px) {
		display: none;
	}
}

.statistics_58f7bdc3 {
	display: flex;
	gap: 5px;
	align-items: center;
}

.statistics_text_58f7bdc3 {
	color: #3B4173;
	font-size: 15px;
	line-height: 135%;
	font-weight: 600;
}

.stars_text_58f7bdc3 {
	font-size: 20px;
}

.star_icons_58f7bdc3 {
	display: flex;
	gap: 5px;
}

.star_58f7bdc3 {
	width: 18px;
	height: 18px;
}

.tags_58f7bdc3 {
	display: flex;
	align-items: center;
	gap: 12px;

	@media screen and (max-width: 810px) {
		display: none;
	}
}

.tag_check_58f7bdc3 {
	width: 42px;
	height: 42px;
}

.tag_check_icon_58f7bdc3 {
	width: 100%;
	height: 100%;
}

.tag_58f7bdc3 {
	padding: 10px;
	display: flex;
	gap: 10px;
	align-items: center;
	border-radius: 100px;
	border: 2px solid var(--color-accent);
}

.tag_icon_58f7bdc3 {
	width: 21px;
	height: 21px;
}

.tag_title_58f7bdc3 {
	font-size: 15px;
	line-height: 18px;
	color: var(--color-accent);
	font-weight: 700;
}

.gallery_58f7bdc3 {
	margin-bottom: 20px;
	cursor: grab;

	@media screen and (max-width: 810px) {
		display: none;
	}
}

.gallery_58f7bdc3:active {
	cursor: grabbing;
}

.gallery_item_58f7bdc3 {
	position: relative;
}

.gallery_item_58f7bdc3:hover {
	.gallery_button_58f7bdc3 {
		opacity: 1;
	}
}

.gallery_image_58f7bdc3 {
	border-radius: 20px;
}

.gallery_button_58f7bdc3 {
	width: 40px;
	height: 40px;
	background-color: var(--color-accent);
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.gallery_button_icon_58f7bdc3 {
	width: 16px;
	height: 18px;
	margin-left: 3px;
}

.card_footer_58f7bdc3 {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 810px) {
		justify-content: center;
	}
}

.card_price_58f7bdc3 {
	display: flex;
	align-items: center;
	gap: 10px;
}

.card_price_icon_58f7bdc3 {
	width: 18px;
	height: 18px;

	@media screen and (max-width: 810px) {
		display: none;
	}
}

.card_price_text_58f7bdc3 {
	font-size: 22px;
	line-height: 135%;
	font-weight: 700;
	color: var(--color-accent);

	@media screen and (max-width: 810px) {
		font-size: 14px;
		line-height: 16px;
		color: #3b4173;
		text-align: center;
		font-weight: 400;
	}
}

.card_price_text_bold_58f7bdc3 {
	@media screen and (max-width: 810px) {
		font-weight: 600;
	}
}

.card_menu_58f7bdc3 {
	@media screen and (max-width: 810px) {
		display: none;
	}
}

.card_button_58f7bdc3 {
	width: 160px;
	height: 50px;
	border-radius: 15px;
	border: 2px solid var(--color-accent);
	cursor: pointer;
	font-size: 15px;
	line-height: 135%;
	font-weight: 500;
	transition: all .2s ease-in-out;
}

.card_button_border_58f7bdc3 {
	color: var(--color-accent);
}

.card_button_border_58f7bdc3:hover {
	color: white;
	background-color: var(--color-accent);
}

.card_button_full_58f7bdc3 {
	color: white;
	background-color: var(--color-accent);
}

.card_button_full_58f7bdc3:hover {
	border-color: #DF3E1A;
	background-color: #DF3E1A;
}