
.other_58f7bdc3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-bottom: 50px;

	@media screen and (max-width: 810px) {
		margin-bottom: 75px;
	}
}

.other_title_58f7bdc3 {
	display: flex;
	gap: 26px;
	align-items: center;

	@media screen and (max-width: 810px) {
		gap: 25px;
		align-items: flex-start;
	}
}

.other_title_icon_58f7bdc3 {
	width: 60px;
	height: 60px;
	background-color: #3B4173;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 810px) {
		width: 35px;
		height: 35px;
	}
}

.other_title_icon_58f7bdc3 img {
	width: 50%;
	height: 50%;
}

.other_title_text_58f7bdc3 {
	font-size: 35px;
	line-height: 135%;
	color: #3B4173;
	font-weight: 700;

	@media screen and (max-width: 810px) {
		font-size: 20px;
	}
}

/* ARTISTS */
.other_artists_58f7bdc3 {
	width: 100%;
}

.other_artist_58f7bdc3 {
	background-color: #F4F4F4;
	border-radius: 35px;
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	text-align: center;

	@media screen and (max-width: 810px) {
		padding: 20px 10px;
		border-radius: 15px;
	}
}

.other_artist_active_58f7bdc3 {
	background-color: #f8f8f8;

	.other_artist_menu_button_like_58f7bdc3 {
		display: block;
	}

	.other_artist_description_58f7bdc3 {
		display: block;
	}

	.other_artist_button_58f7bdc3 {
		display: block;
	}
}

.other_artist_menu_58f7bdc3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.other_artist_menu_buttons_58f7bdc3 {
	display: flex;
	gap: 10px;
	position: relative;
}

.other_artist_menu_button_58f7bdc3 {
	width: 21px;
	height: 21px;
	padding: 0;
	border: none;
	background: transparent;
}

.other_artist_menu_button img {
	width: 100%;
	height: 100%;
}

.other_artist_menu_button_like_58f7bdc3 {
	display: none;
}

.other_artist_menu_time_58f7bdc3 {
	font-size: 13px;
	line-height: 15px;
	color: #3B4173;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.other_artist_player_58f7bdc3 {
	width: 120px;
	height: 120px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.other_artist_player_button_58f7bdc3 {
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 2;
	background-color: #C1492E;
	border-radius: 50%;
	border: 1px solid  white;
}

.other_artist_player_player_58f7bdc3 {
	width: 50%;
	height: 50%;
	margin-left: 4px;
}

.other_artist_player_pause_58f7bdc3 {
	width: 50%;
	height: 50%;
}

.other_artist_player_pause_58f7bdc3 {

}

.other_artist_player_photo_58f7bdc3 {
	width: 110px;
	height: 110px;
}

.other_artist_player_bar_58f7bdc3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.other_artist_info_58f7bdc3 {

}

.other_artist_name_58f7bdc3 {
	font-size: 15px;
	line-height: 18px;
	color: #C1492E;
	font-weight: 400;
	text-decoration: underline;
	text-decoration-color: transparent;
	margin-bottom: 5px;
	transition: all .2s ease-in-out;
}

.other_artist_name_58f7bdc3:hover {
	text-decoration-color: #C1492E;
}

.other_artist_price_58f7bdc3 {
	font-size: 15px;
	line-height: 18px;
	color: #3B4173;
}

.other_artist_price_bold_58f7bdc3 {
	font-weight: 600;
}

.other_artist_description_58f7bdc3 {
	font-size: 13px;
	line-height: 130%;
	color: #717171;
	display: none;
}

.other_artist_button_58f7bdc3 {
	width: 100%;
	height: 50px;
	display: none;
	background-color: #C1492E;
	border-radius: 15px;
	font-size: 15px;
	line-height: 135%;
	color: white;
	font-weight: 600;
	border: none;
	transition: all .2s ease-in-out;
}

.other_artist_button_58f7bdc3 {
	background-color: #DF3E1A;
}