
<div class="calendar_58f7bdc3">
	<div class="calendar_header_58f7bdc3">
		<button class="calendar_button_prev_month_58f7bdc3">
			<img src="./image/arrow_left.svg" alt=">" >
		</button>

		<div class="calendar_selects">
			<div class="calendar_select_58f7bdc3">
				<p class="calendar_select_text_58f7bdc3">Сентябрь</p>
				<img class="calendar_select_triangle_58f7bdc3" src="./image/triangle.svg" alt="">
			</div>

			<div class="calendar_select_58f7bdc3">
				<p class="calendar_select_text_58f7bdc3">2025</p>
				<img class="calendar_select_triangle_58f7bdc3" src="./image/triangle.svg" alt="">
			</div>
		</div>

		<button class="calendar_button_next_month_58f7bdc3">
			<img src="./image/arrow_right.svg" alt=">" >
		</button>
	</div>

	<ul class="calendar_weekdays_58f7bdc3">
		<li class="calendar_weekday_58f7bdc3">Пн</li>
		<li class="calendar_weekday_58f7bdc3">Вт</li>
		<li class="calendar_weekday_58f7bdc3">Ср</li>
		<li class="calendar_weekday_58f7bdc3">Чт</li>
		<li class="calendar_weekday_58f7bdc3">Пт</li>
		<li class="calendar_weekday_58f7bdc3">Сб</li>
		<li class="calendar_weekday_58f7bdc3">Вс</li>
	</ul>

	<div class="swiper calendar_month_days_58f7bdc3">
		<ul class="swiper-wrapper">
			<li class="swiper-slide calendar_day_58f7bdc3">1</li>
			<li class="swiper-slide calendar_day_58f7bdc3">2</li>
			<li class="swiper-slide calendar_day_58f7bdc3">3</li>
			<li class="swiper-slide calendar_day_58f7bdc3">4</li>
			<li class="swiper-slide calendar_day_58f7bdc3">5</li>
			<li class="swiper-slide calendar_day_58f7bdc3">6</li>
			<li class="swiper-slide calendar_day_58f7bdc3">7</li>
			<li class="swiper-slide calendar_day_58f7bdc3">8</li>
			<li class="swiper-slide calendar_day_58f7bdc3">9</li>
			<li class="swiper-slide calendar_day_58f7bdc3">10</li>
			<li class="swiper-slide calendar_day_58f7bdc3 calendar_day_accent_58f7bdc3">11</li>
			<li class="swiper-slide calendar_day_58f7bdc3 calendar_day_accent_58f7bdc3">12</li>
			<li class="swiper-slide calendar_day_58f7bdc3">13</li>
			<li class="swiper-slide calendar_day_58f7bdc3">14</li>
			<li class="swiper-slide calendar_day_58f7bdc3">15</li>
			<li class="swiper-slide calendar_day_58f7bdc3">16</li>
			<li class="swiper-slide calendar_day_58f7bdc3">17</li>
			<li class="swiper-slide calendar_day_58f7bdc3">18</li>
			<li class="swiper-slide calendar_day_58f7bdc3">19</li>
			<li class="swiper-slide calendar_day_58f7bdc3">20</li>
			<li class="swiper-slide calendar_day_58f7bdc3 calendar_day_accent_58f7bdc3">21</li>
			<li class="swiper-slide calendar_day_58f7bdc3">22</li>
			<li class="swiper-slide calendar_day_58f7bdc3">23</li>
			<li class="swiper-slide calendar_day_58f7bdc3">24</li>
			<li class="swiper-slide calendar_day_58f7bdc3">25</li>
			<li class="swiper-slide calendar_day_58f7bdc3">26</li>
			<li class="swiper-slide calendar_day_58f7bdc3">27</li>
			<li class="swiper-slide calendar_day_58f7bdc3">28</li>
			<li class="swiper-slide calendar_day_58f7bdc3">29</li>
			<li class="swiper-slide calendar_day_58f7bdc3">30</li>
			<li class="swiper-slide calendar_day_58f7bdc3 calendar_day_other_58f7bdc3">1</li>
			<li class="swiper-slide calendar_day_58f7bdc3 calendar_day_other_58f7bdc3">2</li>
			<li class="swiper-slide calendar_day_58f7bdc3 calendar_day_other_58f7bdc3">3</li>
			<li class="swiper-slide calendar_day_58f7bdc3 calendar_day_other_58f7bdc3">4</li>
			<li class="swiper-slide calendar_day_58f7bdc3 calendar_day_other_58f7bdc3">5</li>
		</ul>
	</div>
</div>