.video_player_58f7bdc3 {
	width: 900px;
	height: 500px;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	background-color: #F4F4F4;
	display: none;
	flex-direction: column;
	gap: 15px;
	padding: 40px;
	border-radius: 55px;

	@media screen and (max-width: 810px) {
		max-width: 320px;
		height: auto;
		padding: 20px;
		border-radius: 35px;
	}
}

.video_player_58f7bdc3_active {
	display: flex;
}

.video_player_src_58f7bdc3 {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}