
<header class="header_58f7bdc3">
	<div class="container_58f7bdc3 header_container_58f7bdc3">
		<div class="header_top_58f7bdc3">
			<nav class="header_top_navigation_58f7bdc3">
				<a class="header_top_navigation_link_58f7bdc3" href="#">Цены</a>
				<a class="header_top_navigation_link_58f7bdc3" href="#">Оплата</a>
				<a class="header_top_navigation_link_58f7bdc3" href="#">FAQ</a>
				<a class="header_top_navigation_link_58f7bdc3" href="#">О студии</a>
				<a class="header_top_navigation_link_58f7bdc3" href="#">Контакты</a>
			</nav>

			<div class="header_left_block_58f7bdc3">
				<div class="header_socials_58f7bdc3">
					<a class="header_socials_link_58f7bdc3 header_socials_link_email_58f7bdc3" href="#">info@kupigolos.ru</a>
					<a class="header_socials_link_58f7bdc3" href="#">
						<img class="header_socials_link_icon_58f7bdc3" src="./image/telegram.svg" alt="Telegram" >
						<img class="header_socials_link_icon_hover_58f7bdc3" src="./image/telegram_hover.svg" alt="Telegram" >
					</a>
					<a class="header_socials_link_58f7bdc3" href="#">
						<img class="header_socials_link_icon_hover_58f7bdc3" src="./image/whatsapp_hover.svg" alt="Telegram" >
						<img class="header_socials_link_icon_58f7bdc3" src="./image/whatsapp.svg" alt="WhatsApp">
					</a>
				</div>

				<div class="user_58f7bdc3">
					<div class="user_buttons_58f7bdc3">
						<img class="user_favourite_icon_hover_58f7bdc3" src="./image/like_hover.svg" alt="">
						<img class="user_favourite_icon_58f7bdc3" src="./image/like.svg" alt="Like">

						<div class="user_help_58f7bdc3">?</div>
					</div>
					<div class="user_buttons_58f7bdc3">
						<img class="user_profile_icon_hover_58f7bdc3" src="./image/profile_hover.svg" alt="">
						<img class="user_profile_icon_58f7bdc3" src="./image/profile.svg" alt="Profile">

						<div class="user_help_58f7bdc3">?</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<header class="header_58f7bdc3 header_bottom_58f7bdc3" id="header_58f7bdc3">
	<div class="container_58f7bdc3 header_container_58f7bdc3">
		<div class="header_bottom_block_58f7bdc3">
			<a class="header_bottom_logo_58f7bdc3" href="#">
				<img class="header_bottom_logo_image_58f7bdc3" src="./image/logo.svg" alt="КупиГолос">
			</a>

			<div class="header_bottom_menu">
				<div class="header_bottom_menu_chapter" onclick="toggle('menu_link_1')">
					<p class="header_bottom_menu_title">Услуги</p>

					<div class="header_bottom_navigation_block" id="menu_link_1">
						<div class="header_bottom_navigation_content">
							<nav class="header_bottom_navigation_links">
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<p class="header_bottom_navigation_link_chapter_title">Озвучка видео</p>

										<ul class="header_bottom_navigation_links_chapter_list">
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Фильмов и сериалов
												</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Мультфильмов
												</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													YouTube каналов
												</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Видеорекламы
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<p class="header_bottom_navigation_link_chapter_title">
											Работа с аудио
										</p>

										<ul class="header_bottom_navigation_links_chapter_list">
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">Озвучка игр</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">Озвучка рекламы</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">Запись аудиогидов</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">Запись аудиокниг</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">Рекламные аудиоролики</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">Голосовые приветствия</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<p class="header_bottom_navigation_link_chapter_title">
											Работа с текстом
										</p>

										<ul class="header_bottom_navigation_links_chapter_list">
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Перевод и укладка
												</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Сценарии аудиороликов
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<p class="header_bottom_navigation_link_chapter_title">
											Локализация и перевод
										</p>

										<ul class="header_bottom_navigation_links_chapter_list">
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Перевод видео
												</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Перевод игр
												</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Перевод фильмов и сериалов
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<p class="header_bottom_navigation_link_chapter_title">
											Другие услуги
										</p>

										<ul class="header_bottom_navigation_links_chapter_list">
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Озвучка презентаций / слайдов
												</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Озвучка обучающих материалов
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>

							<div class="header_bottom_navigation_footer">
								<div class="header_bottom_navigation_footer_banner">
									<img class="header_bottom_navigation_footer_banner_icon" src="./image/movie_search.svg" alt="">
									<p class="header_bottom_navigation_footer_banner_text">КупиГолос - студия озвучивания с Кинопоиска</p>
								</div>

								<ul class="header_bottom_navigation_footer_networks">
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/vk_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/vk_red.svg" alt="">
										</a>
									</li>
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/youtube_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/youtube_red.svg" alt="">
										</a>
									</li>
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/telegram_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/telegram_red.svg" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="header_bottom_navigation_info">
							<p class="header_bottom_navigation_info_title">Вы диктор?</p>
							<p class="header_bottom_navigation_info_text">Заполните анкету, чтобы попасть в рейтинг</p>

							<button class="header_bottom_navigation_info_button" onclick="openMenuForm()">Заполнить анкету</button>

							<img class="header_bottom_navigation_info_image" src="./image/logo_info.svg" alt="">
						</div>
					</div>
				</div>

				<div class="header_bottom_menu_chapter" onclick="toggle('menu_link_2')">
					<p class="header_bottom_menu_title">Дикторы</p>

					<div class="header_bottom_navigation_block" id="menu_link_2">
						<div class="header_bottom_navigation_content">
							<nav class="header_bottom_navigation_links">
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<a class="header_bottom_navigation_link_chapter_title header_bottom_menu_link_58f7bdc3">Все дикторы</a>
									</li>
								</ul>
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<a class="header_bottom_navigation_link_chapter_title header_bottom_menu_link_58f7bdc3">Актеры озвучки</a>
									</li>
								</ul>
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<a class="header_bottom_navigation_link_chapter_title header_bottom_menu_link_58f7bdc3">Иностранные дикторы</a>
									</li>
								</ul>
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<p class="header_bottom_navigation_link_chapter_title">
											Русские дикторы
										</p>

										<ul class="header_bottom_navigation_links_chapter_list">
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Федеральные
												</a>
											</li>
											<li class="header_bottom_navigation_links_chapter_item">
												<a class="header_bottom_navigation_links_chapter_link" href="#">
													Региональные
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<a class="header_bottom_navigation_link_chapter_title header_bottom_menu_link_58f7bdc3">Другие услуги</a>
									</li>
								</ul>
							</nav>

							<div class="header_bottom_navigation_footer">
								<div class="header_bottom_navigation_footer_banner">
									<img class="header_bottom_navigation_footer_banner_icon" src="./image/movie_search.svg" alt="">
									<p class="header_bottom_navigation_footer_banner_text">КупиГолос - студия озвучивания с Кинопоиска</p>
								</div>

								<ul class="header_bottom_navigation_footer_networks">
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/vk_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/vk_red.svg" alt="">
										</a>
									</li>
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/youtube_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/youtube_red.svg" alt="">
										</a>
									</li>
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/telegram_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/telegram_red.svg" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="header_bottom_navigation_info">
							<p class="header_bottom_navigation_info_title">Вы диктор?</p>
							<p class="header_bottom_navigation_info_text">Заполните анкету, чтобы попасть в рейтинг</p>

							<button class="header_bottom_navigation_info_button" onclick="openMenuForm()">Заполнить анкету</button>

							<img class="header_bottom_navigation_info_image" src="./image/logo_info.svg" alt="">
						</div>
					</div>
				</div>

				<div class="header_bottom_menu_chapter" onclick="toggle('menu_link_3')">
					<p class="header_bottom_menu_title">Рейтинги</p>

					<div class="header_bottom_navigation_block" id="menu_link_3">
						<div class="header_bottom_navigation_content">
							<nav class="header_bottom_navigation_links">
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<a class="header_bottom_navigation_link_chapter_title header_bottom_menu_link_58f7bdc3" href="#">Ведущие</a>
									</li>
								</ul>
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<a class="header_bottom_navigation_link_chapter_title header_bottom_menu_link_58f7bdc3" href="#">
											Преподаватели музыки
										</a>
									</li>
								</ul>
							</nav>

							<div class="header_bottom_navigation_footer">
								<div class="header_bottom_navigation_footer_banner">
									<img class="header_bottom_navigation_footer_banner_icon" src="./image/movie_search.svg" alt="">
									<p class="header_bottom_navigation_footer_banner_text">КупиГолос - студия озвучивания с Кинопоиска</p>
								</div>

								<ul class="header_bottom_navigation_footer_networks">
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/vk_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/vk_red.svg" alt="">
										</a>
									</li>
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/youtube_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/youtube_red.svg" alt="">
										</a>
									</li>
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/telegram_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/telegram_red.svg" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="header_bottom_navigation_info">
							<p class="header_bottom_navigation_info_title">Вы ведущий?</p>
							<p class="header_bottom_navigation_info_text">Заполните анкету, чтобы попасть в каталог</p>

							<button class="header_bottom_navigation_info_button" onclick="openMenuForm()">Заполнить анкету</button>

							<img class="header_bottom_navigation_info_image" src="./image/logo_info.svg" alt="">
						</div>
					</div>
				</div>

				<div class="header_bottom_menu_chapter" onclick="toggle('menu_link_4')">
					<p class="header_bottom_menu_title">Инфопортал</p>

					<div class="header_bottom_navigation_block" id="menu_link_4">
						<div class="header_bottom_navigation_content">
							<nav class="header_bottom_navigation_links">
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<a class="header_bottom_navigation_link_chapter_title header_bottom_menu_link_58f7bdc3" href="#">Инфопортал</a>
									</li>
								</ul>
								<ul class="header_bottom_navigation_links_chapters">
									<li class="header_bottom_navigation_link_chapter">
										<a class="header_bottom_navigation_link_chapter_title header_bottom_menu_link_58f7bdc3" href="#">
											Статьи
										</a>
									</li>
								</ul>
							</nav>

							<div class="header_bottom_navigation_footer">
								<div class="header_bottom_navigation_footer_banner">
									<img class="header_bottom_navigation_footer_banner_icon" src="./image/movie_search.svg" alt="">
									<p class="header_bottom_navigation_footer_banner_text">КупиГолос - студия озвучивания с Кинопоиска</p>
								</div>

								<ul class="header_bottom_navigation_footer_networks">
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/vk_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/vk_red.svg" alt="">
										</a>
									</li>
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/youtube_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/youtube_red.svg" alt="">
										</a>
									</li>
									<li class="header_bottom_navigation_footer_network">
										<a href="#">
											<img class="header_bottom_navigation_footer_network_hover" src="./image/telegram_red_hover.svg" alt="">
											<img class="header_bottom_navigation_footer_network_icon" src="./image/telegram_red.svg" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="header_bottom_navigation_info">
							<p class="header_bottom_navigation_info_title">Вы диктор?</p>
							<p class="header_bottom_navigation_info_text">Заполните анкету, чтобы попасть в рейтинг</p>

							<button class="header_bottom_navigation_info_button" onclick="openMenuForm()">Заполнить анкету</button>

							<img class="header_bottom_navigation_info_image" src="./image/logo_info.svg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="header_bottom_buttons_58f7bdc3">
				<button class="header_bottom_buttons_button_58f7bdc3" onclick="openForm()">Быстрый заказ</button>

				<div class="header_bottom_button_58f7bdc3">
					<a class="header_bottom_button_phone_58f7bdc3" href="#">8 800 200-45-51</a>
					<button class="header_bottom_buttons_bell_58f7bdc3">Заказать звонок</button>
				</div>
			</div>

			<button class="header_button_menu_58f7bdc3" id="header_button_menu_58f7bdc3" onclick="toggleMenu()">
				<div></div>
				<div></div>
				<div></div>
			</button>
		</div>
	</div>
</header>