
<header class="header_58f7bdc3" id="header_58f7bdc3">
	<div class="container_58f7bdc3 header_container_58f7bdc3">
    <div class="header_top_58f7bdc3">
			<nav class="header_top_navigation_58f7bdc3">
				<a class="header_top_navigation_link_58f7bdc3" href="#">Цены</a>
				<a class="header_top_navigation_link_58f7bdc3" href="#">Оплата</a>
				<a class="header_top_navigation_link_58f7bdc3" href="#">FAQ</a>
				<a class="header_top_navigation_link_58f7bdc3" href="#">О студии</a>
				<a class="header_top_navigation_link_58f7bdc3" href="#">Контакты</a>
			</nav>

			<div class="header_left_block_58f7bdc3">
				<div class="header_socials_58f7bdc3">
					<a class="header_socials_link_58f7bdc3" href="#">info@kupigolos.ru</a>
					<a class="header_socials_link_58f7bdc3" href="#">
						<img class="header_socials_link_icon_58f7bdc3" src="./image/telegram.svg" alt="Telegram" >
					</a>
					<a class="header_socials_link_58f7bdc3" href="#">
						<img class="header_socials_link_icon_58f7bdc3" src="./image/whatsapp.svg" alt="WhatsApp">
					</a>
				</div>

				<div class="user_58f7bdc3">
					<div class="user_buttons_58f7bdc3">
						<img class="user_favourite_icon_58f7bdc3" src="./image/like.svg" alt="Like">

						<div class="user_help_58f7bdc3">?</div>
					</div>
					<div class="user_buttons_58f7bdc3">
						<img class="user_profile_icon_58f7bdc3" src="./image/profile.svg" alt="Profile">

						<div class="user_help_58f7bdc3">?</div>
					</div>
				</div>
			</div>
		</div>

		<div class="header_bottom_58f7bdc3">
			<a class="header_bottom_logo_58f7bdc3" href="#">
				<img class="header_bottom_logo_image_58f7bdc3" src="./image/logo.svg" alt="КупиГолос">
			</a>

			<nav class="header_bottom_navigation_58f7bdc3">
				<a class="header_bottom_navigation_link_58f7bdc3" href="#">Услуги</a>
				<a class="header_bottom_navigation_link_58f7bdc3" href="#">Дикторы</a>
				<a class="header_bottom_navigation_link_58f7bdc3" href="#">Школа вокала</a>
				<a class="header_bottom_navigation_link_58f7bdc3" href="#">Рейтинги</a>
				<a class="header_bottom_navigation_link_58f7bdc3" href="#">Инфопортал</a>
			</nav>

			<div class="header_bottom_buttons_58f7bdc3">
				<button class="header_bottom_buttons_button_58f7bdc3" onclick="openForm()">Быстрый заказ</button>

				<div class="header_bottom_button_58f7bdc3">
					<a class="header_bottom_button_phone_58f7bdc3" href="#">8 800 200-45-51</a>
					<button class="header_bottom_buttons_bell_58f7bdc3">Заказать звонок</button>
				</div>
			</div>

			<button class="header_button_menu_58f7bdc3" id="header_button_menu_58f7bdc3" onclick="toggleMenu()">
				<div></div>
				<div></div>
				<div></div>
			</button>
		</div>
	</div>
</header>