.header_58f7bdc3 {
	margin-top: 30px;
	background-color: transparent;
	transition: all .2s ease-in-out;

	@media screen and (max-width: 810px) {
		position: sticky;
		left: 0;
		top: 0;
		z-index: 10;
		margin-top: 0;
		background-color: #C1492E;
	}
}

.header_container_58f7bdc3 {
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.header_top_58f7bdc3 {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 810px) {
		display: none;
	}
}

.header_top_navigation_58f7bdc3 {
	padding: 20px;
	display: flex;
	gap: 45px;
	background-color: #F6F6F6;
	border-radius: 15px;

	@media screen and (max-width: 1280px) {
		gap: 20px;
		padding: 15px;
	}
}

.header_top_navigation_link_58f7bdc3 {
	color: #3B4173;
	text-decoration: underline;
	text-decoration-color: transparent;
	font-size: 15px;
	line-height: 18px;
	transition: all .2s ease-in-out;

	@media screen and (max-width: 1280px) {
		font-size: 13px;
		line-height: 15px;
	}
}

.header_top_navigation_link_58f7bdc3:hover {
	text-decoration-color: #3B4173;
}

.header_left_block_58f7bdc3 {
	display: flex;
	align-items: center;
	gap: 185px;

	@media screen and (max-width: 1280px) {
		gap: 40px;
	}
}

.header_socials_58f7bdc3 {
	display: flex;
	gap: 15px;
	align-items: center;
}

.header_socials_link_58f7bdc3 {
	color: #3B4173;
	font-size: 15px;
	line-height: 18px;
	text-decoration: underline;
	transition: all .2s ease-in-out;
	position: relative;
}

.header_socials_link_email_58f7bdc3:hover {
	color: #C1492E;
}

.header_socials_link_icon_hover_58f7bdc3 {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all .2s ease-in-out;
}

.header_socials_link_icon_hover_58f7bdc3:hover {
	opacity: 1;
}

.header_socials_link_icon_58f7bdc3 {

}

.user_58f7bdc3 {
	display: flex;
	gap: 15px;
	align-items: center;
}

.user_help_58f7bdc3 {
	width: 16px;
	height: 16px;
	color: #3B4173;
	position: absolute;
	font-weight: 500;
	top: 0;
	right: 0;
	font-size: 10px;
	border: 1px solid #3B4173;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	cursor: help;
}

.user_buttons_58f7bdc3 {
	width: 51px;
	height: 43px;
	position: relative;
	display: flex;
	align-items: flex-end;
}

.user_favourite_icon_58f7bdc3 {
	cursor: pointer;
}

.user_favourite_icon_hover_58f7bdc3 {
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.user_favourite_icon_hover_58f7bdc3:hover {
	opacity: 1;
}

.user_profile_icon_58f7bdc3 {
	cursor: pointer;
}

.user_profile_icon_hover_58f7bdc3 {
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.user_profile_icon_hover_58f7bdc3:hover {
	opacity: 1;
}

/* HEADER BOTTOM */
.header_bottom_58f7bdc3 {
	position: sticky;
	top: 0;
	margin-bottom: 50px;
	z-index: 200;
	transition: all .2s ease-in-out;
}

.header_active_58f7bdc3 {
	background-color: #C1492E;
}

.header_bottom_block_58f7bdc3 {
	height: 100px;
  background-color: #C1492E;
	border-radius: 25px;
	padding: 0 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: 1280px) {
		border-radius: 15px;
		padding: 0 15px;
	}

	@media screen and (max-width: 810px) {
		height: 70px;
		padding: 0 10px;
	}
}

.header_bottom_logo_58f7bdc3 {
	width: 109px;
	height: 51px;
	position: relative;
	z-index: 10;

	@media screen and (max-width: 1280px) {
		width: 81px;
		height: 35px;
	}

	@media screen and (max-width: 810px) {
		height: 31px;
	}
}

.header_bottom_logo_image_58f7bdc3 {
	width: 100%;
	height: 100%;
}

.header_bottom_menu {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	gap: 25px;

	@media screen and (max-width: 1280px) {
		gap: 10px;
	}

	@media screen and (max-width: 810px) {
		display: none;
	}
}

.header_bottom_menu_link_58f7bdc3 {
	cursor: pointer !important;
}

.header_bottom_menu_chapter {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 12px;
}


/*@keyframes wiggle {*/
/*	0% { transform: translateX(-50%) translateY(-150%); }*/
/*	100% { transform: translateX(-50%) translateY(0); }*/
/*	60% { transform: translateX(-50%) translateY(-5%); }*/
/*	70% { transform: translateX(-50%) translateY(5%); }*/
/*	80% { transform: translateX(-50%) translateY(-2%); }*/
/*	90% { transform: translateX(-50%) translateY(2%); }*/
/*	100% { transform: translateX(-50%) translateY(0); }*/
/*}*/

.header_bottom_menu_chapter:hover .header_bottom_navigation_block {
	opacity: 1 !important;
	pointer-events: auto !important;
}

.header_bottom_menu_chapter:hover .header_bottom_menu_title {
	font-weight: 600;
	text-decoration: underline;
}

/*.header_bottom_navigation_block_active {*/
/*	opacity: 1 !important;*/
/*	animation: wiggle 1.5s ease-in-out !important;*/
/*	pointer-events: auto !important;*/
/*}*/

.header_bottom_menu_title {
	font-size: 20px;
	line-height: 23px;
	color: white;
	cursor: default;

	@media screen and (max-width: 1280px) {
		font-size: 15px;
		line-height: 18px;
	}
}

.header_bottom_navigation_block {
	width: 100%;
	max-width: 1160px;
	top: 135px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	display: grid;
	grid-template-columns: 860px 260px;
	justify-content: space-between;
	align-items: flex-start;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease-in-out;
}

.header_bottom_navigation_block::before {
	content: "";
	width: 100%;
	height: 100px;
	display: block;
	position: absolute;
	left: 0;
	top: -50px;
}

.header_bottom_navigation_content {
	border-radius: 55px;
	padding: 55px 60px;
	background-color: white;
	box-shadow: 2px 4px 75px 0 rgba(230, 230, 230, 0.33);
}

.header_bottom_navigation_links {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 37px;
}

.header_bottom_navigation_links_chapters {

}

.header_bottom_navigation_link_chapter {

}

.header_bottom_navigation_link_chapter:hover {
	.header_bottom_navigation_links_chapter_list {
		opacity: 1;
		pointer-events: auto;
	}
}

.header_bottom_navigation_link_chapter_title {
	max-width: 400px;
	padding-left: 40px;
	position: relative;
	font-size: 30px;
	line-height: 35px;
	cursor: default;
	color: #3B4173;
	font-weight: 500;
	opacity: .5;
	transition: all .2s ease-in-out;
}

.header_bottom_navigation_link_chapter_title:hover {
	opacity: 1;
}

.header_bottom_navigation_link_chapter_title:before {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	background-color: #C1492E;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
}

.header_bottom_navigation_links_chapter_list {
	width: 60%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 20px;
	opacity: 0;
	pointer-events: none;
	transition: all .2s ease-in-out;
}

.header_bottom_navigation_links_chapter_item {
	width: 100%;
	max-width: 310px;
}

.header_bottom_navigation_links_chapter_link {
	width: 100%;
	color: #3B4173;
	font-size: 20px;
	line-height: 23px;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: all .2s ease-in-out;
}

.header_bottom_navigation_links_chapter_link:hover {
	text-decoration-color: #3b4173;
}

.header_bottom_navigation_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	margin-top: 60px;
}

.header_bottom_navigation_footer_banner {
	padding: 15px;
	border-radius: 25px;
	border: 1px solid #EAD2CC;
	display: flex;
	gap: 26px;
	align-content: center;
}

.header_bottom_navigation_footer_banner_icon {

}

.header_bottom_navigation_footer_banner_text {
	font-size: 20px;
	line-height: 135%;
	color: #3B4173;
}

.header_bottom_navigation_footer_networks {
	padding: 17px 55px;
	border-radius: 25px;
	border: 1px solid #EAD2CC;
	display: flex;
	gap: 26px;
	align-content: center;
}

.header_bottom_navigation_footer_network {
	position: relative;
	width: 50px;
	height: 50px;
}

.header_bottom_navigation_footer_network_hover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.header_bottom_navigation_footer_network_hover:hover {
	opacity: 1;
}

.header_bottom_navigation_footer_network_icon {
	width: 100%;
	height: 100%;
}

.header_bottom_navigation_info {
	max-width: 260px;
	height: 340px;
	background-color: #C1492E;
	border-radius: 55px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	padding: 45px 33px 33px;
}

.header_bottom_navigation_info_title {
	font-size: 20px;
	line-height: 135%;
	font-weight: 700;
	color: white;
}

.header_bottom_navigation_info_text {
	font-size: 15px;
	line-height: 135%;
	color: #F6F6F6
}

.header_bottom_navigation_info_button {
	height: 50px;
	width: calc(100% - 66px);
	position: absolute;
	bottom: 40px;
	border-radius: 15px;
	font-size: 15px;
	line-height: 135%;
	font-weight: 500;
	color: white;
	background-color: transparent;
	border: 1px solid white;
	z-index: 10;
	transition: all .2s ease-in-out;
}

.header_bottom_navigation_info_button:hover {
	background-color: white;
	color: #C1492E;
}

.header_bottom_navigation_info_image {
	position: absolute;
	bottom: 0;
	right: 0;
	pointer-events: none;
}

/*.header_bottom_navigation_info_list {*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	gap: 15px;*/
/*}*/

/*.header_bottom_navigation_info_item {*/
/*	font-size: 15px;*/
/*	line-height: 135%;*/
/*	color: #F6F6F6*/
/*}*/


.header_bottom_buttons_58f7bdc3 {
	align-items: center;
	display: grid;
	grid-template-columns: 160px 160px;
	gap: 18px;

	@media screen and (max-width: 810px) {
		display: none;
	}
}

.header_bottom_buttons_button_58f7bdc3 {
	width: 160px;
	height: 50px;
	font-weight: 550;
	color: white;
	font-size: 15px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 15px;
	transition: all .2s ease-in-out;

	@media screen and (max-width: 1280px) {
		width: auto;
		height: auto;
		padding: 7px 12px;
		font-size: 13px;
		line-height: 15px;
		border-radius: 7px;
	}
}

.header_bottom_buttons_button_58f7bdc3:hover {
	background-color: white;
	color: #C1492E;
}

.header_bottom_button_58f7bdc3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.header_bottom_button_phone_58f7bdc3 {
	color: white;
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
	transition: all .2s ease-in-out;

	@media screen and (max-width: 1280px) {
		font-size: 15px;
		line-height: 18px;
	}
}

.header_bottom_button_phone_58f7bdc3:hover {
	font-weight: 900;
}

.header_bottom_buttons_bell_58f7bdc3 {
	font-size: 15px;
	line-height: 18px;
	color: white;
	background-color: transparent;
	border: none;
	padding: 0;
	text-decoration: underline;
	transition: all .2s ease-in-out;

	@media screen and (max-width: 1280px) {
		font-size: 13px;
		line-height: 15px;
	}
}

.header_bottom_buttons_bell_58f7bdc3:hover {
	font-weight: 600;
}

.header_button_menu_58f7bdc3 {
	width: 31px;
	height: 31px;
	flex-direction: column;
	justify-content: space-around;
	background-color: transparent;
	border: none;
	padding: 2px;
	position: relative;
	z-index: 10;
	display: none;

	@media screen and (max-width: 810px) {
		display: flex;
	}
}

.header_button_menu_58f7bdc3 div {
	width: 100%;
	height: 3px;
	background-color: white;
	border-radius: 3px;
	transition: all .2s ease-in-out;
}

.header_button_menu_active_58f7bdc3 div:first-child {
	width: calc(100% + 4px);
	right: -2px;
	top: 14px;
	position: absolute;
	transform: rotate(45deg);
}

.header_button_menu_active_58f7bdc3 div:nth-child(2) {
	opacity: 0;
}

.header_button_menu_active_58f7bdc3 div:last-child {
	width: calc(100% + 4px);
	left: -2px;
	top: 14px;
	position: absolute;
	transform: rotate(-45deg)
}