* {
    font-family: "Roboto", sans-serif;
}

body {
    color: black;
    font-weight: 400;
    position: relative;
}

a,
button {
    cursor: pointer;
}

.container_58f7bdc3 {
    width: 100%;
    max-width: 1276px;
    margin: 0 auto;

    @media screen and (max-width: 1280px) {
        max-width: 800px;
    }

    @media screen and (max-width: 810px) {
        max-width: 320px;
    }
}

.content_container_58f7bdc3 {
    display: grid;
    gap: 50px;
    grid-template-columns: 330px 900px;
    
    @media screen and (max-width: 1280px) {
        display: flex;
        flex-direction: column;
    }
}

.background_58f7bdc3 {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    pointer-events: none;
    background-color: black;
    opacity: 0.8;
    display: none;
}

.background_58f7bdc3_active {
    display: block;
    pointer-events: all;
}