
<div class="sidebar_58f7bdc3">
	<img class="sidebar_photo_58f7bdc3" src="./image/photo.png" alt="Error loading">

	<p class="sidebar_author_58f7bdc3">Владимир Овсянников</p>

	<ul class="sidebar_info_58f7bdc3">
		<li class="sidebar_info_block_58f7bdc3">
			<p class="sidebar_info_text_58f7bdc3 sidebar_info_stars_text_58f7bdc3">4.9</p>
			<div class="sidebar_stars_58f7bdc3">
				<img class="sidebar_star_58f7bdc3" src="./image/star.svg" alt="">
				<img class="sidebar_star_58f7bdc3" src="./image/star.svg" alt="">
				<img class="sidebar_star_58f7bdc3" src="./image/star.svg" alt="">
				<img class="sidebar_star_58f7bdc3" src="./image/star.svg" alt="">
				<img class="sidebar_star_58f7bdc3" src="./image/star.svg" alt="">
			</div>
		</li>

		<li class="sidebar_info_block_58f7bdc3">
			<img class="reviews_icon_58f7bdc3" src="./image/review.svg" alt="">
			<p class="sidebar_info_text_58f7bdc3">100+ отзывов</p>
		</li>
	</ul>

	<button class="sidebar_button_58f7bdc3 sidebar_button_fill_58f7bdc3">Связаться</button>
	<button class="sidebar_button_58f7bdc3 sidebar_button_border_58f7bdc3">Проверить дату</button>
</div>