
.sidebar_58f7bdc3 {
	@media screen and (max-width: 1280px) {
		display: flex;
		gap: 25px;
	}
}

.sidebar_photo_58f7bdc3 {
	width: 330px;
	height: 357px;
	border-radius: 55px;
	margin-bottom: 27px;
	object-fit: cover;

	@media screen and (max-width: 1280px) {
		width: 330px;
		height: 330px;
	}
}

.sidebar_content_58f7bdc3 {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 15px;
}

.sidebar_author_58f7bdc3 {
	font-weight: 600;
	font-size: 25px;
	color: #3B4173;
	line-height: 29px;

	@media screen and (max-width: 1280px) {
		font-size: 35px;
		line-height: 41px;
		font-weight: 700;
		color: #3B4173;
	}
}

.sidebar_tags_58f7bdc3 {
	align-items: center;
	gap: 10px;
	display: none;

	@media screen and (max-width: 1280px) {
		display: flex;
	}
}

.sidebar_tag_check_58f7bdc3 {
	width: 35px;
	height: 35px;
}

.sidebar_tag_check_icon_58f7bdc3 {
	width: 100%;
	height: 100%;
}

.sidebar_tag_58f7bdc3 {
	padding: 7px;
	display: flex;
	gap: 7px;
	align-items: center;
	border-radius: 100px;
	border: 2px solid #C1492E;
}

.sidebar_tag_icon_58f7bdc3 {
	width: 15px;
	height: 15px;
}

.sidebar_tag_title_58f7bdc3 {
	font-size: 13px;
	line-height: 15px;
	color: #C1492E;
	font-weight: 700;
}

.sidebar_info_58f7bdc3 {
	display: flex;
	gap: 40px;
	align-items: center;
	list-style: none;
}

.sidebar_info_block_58f7bdc3 {
	display: flex;
	gap: 5px;
	align-items: center;
}

.sidebar_info_text_58f7bdc3 {
	color: #3B4173;
	font-size: 15px;
	line-height: 135%;
	font-weight: 600;
}

.sidebar_info_stars_text_58f7bdc3 {
	font-size: 20px;
}

.sidebar_stars_58f7bdc3 {
	display: flex;
	gap: 5px;
}

.sidebar_star_58f7bdc3 {
	width: 18px;
	height: 18px;
}

.sidebar_button_58f7bdc3 {
	width: 100%;
	height: 50px;
	border-radius: 15px;
	border: 2px solid #C1492E;
	font-size: 15px;
	line-height: 135%;
	font-weight: 600;
	transition: all .2s ease-in-out;
}

.sidebar_button_fill_58f7bdc3 {
	background-color: #C1492E;
	color: white;
}

.sidebar_button_fill_58f7bdc3:hover {
	background-color: #DF3E1A;
	border-color: #DF3E1A;
}

.sidebar_button_border_58f7bdc3 {
	color: #C1492E;
	background-color: white;
}

.sidebar_button_border_58f7bdc3:hover {
	background-color: #C1492E;
	color: white;
}