
.intro_58f7bdc3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;

	@media screen and (max-width: 1280px) {
		display: none;
	}
}

.intro_navigation_58f7bdc3 {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 40px;
}

.intro_navigation_link_58f7bdc3 {
	font-size: 20px;
	line-height: 23px;
	color: #3B4173;
	transition: all .2s ease-in-out;
}

.intro_navigation_link_58f7bdc3:hover {
	color: #C1492E;
}

.intro_title_58f7bdc3 {
	font-size: 70px;
	line-height: 82px;
	font-weight: 700;
	color: #3B4173;
	margin-bottom: 17px;
}

.intro_tags_58f7bdc3 {
	display: flex;
	align-items: center;
	gap: 12px;
	list-style: none;
}

.intro_tag_check_58f7bdc3 {
	width: 42px;
	height: 42px;
}

.intro_tag_check_icon_58f7bdc3 {
	width: 100%;
	height: 100%;
}

.intro_tag_58f7bdc3 {
	padding: 10px;
	display: flex;
	gap: 10px;
	align-items: center;
	border-radius: 100px;
	border: 1px solid #C1492E;
}

.intro_tag_icon_58f7bdc3 {
	width: 21px;
	height: 21px;
}

.intro_tag_title_58f7bdc3 {
	font-size: 15px;
	line-height: 18px;
	color: #C1492E;
	font-weight: 700;
}