
<div class="intro_58f7bdc3">
	<nav class="intro_navigation_58f7bdc3">
		<a class="intro_navigation_link_58f7bdc3" href="#">Услуги</a>
		<img class="intro_navigation_arrow_58f7bdc3" src="./img/blue_arrow_right.svg">
		<a class="intro_navigation_link_58f7bdc3" href="#">Ведущие</a>
		<img class="intro_navigation_arrow_58f7bdc3" src="./img/blue_arrow_right.svg">
		<a class="intro_navigation_link_58f7bdc3" href="#">Владимир Овсянников</a>
	</nav>

	<h1 class="intro_title_58f7bdc3">Владимир Овсянников</h1>

	<ul class="intro_tags_58f7bdc3">
		<li class="intro_tag_check_58f7bdc3">
			<img class="intro_tag_check_icon_58f7bdc3" src="./img/check.svg" alt="">
		</li>

		<li class="intro_tag_58f7bdc3">
			<img class="intro_tag_icon_58f7bdc3" src="./img/rings.svg" alt="">
			<p class="intro_tag_title_58f7bdc3">Свадьба</p>
		</li>
		<li class="intro_tag_58f7bdc3">
			<img class="intro_tag_icon_58f7bdc3" src="./img/confetti.svg" alt="">
			<p class="intro_tag_title_58f7bdc3">Корпоратив</p>
		</li>
		<li class="intro_tag_58f7bdc3">
			<img class="intro_tag_icon_58f7bdc3" src="./img/ball.svg" alt="">
			<p class="intro_tag_title_58f7bdc3">Вечеринка</p>
		</li>
	</ul>
</div>