.footer_58f7bdc3 {
	margin-bottom: 30px;
}

.footer_top_block_58f7bdc3 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 52px;
}

.footer_chapter_title_58f7bdc3 {
	font-size: 20px;
	line-height: 23px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #3B4173;
}

.footer_navigation_58f7bdc3 {
	display: flex;
	gap: 70px;
}

.footer_navigation_chapter_58f7bdc3 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer_navigation_chapter_link_58f7bdc3 a {
	font-size: 15px;
	line-height: 18px;
	color: #3B4173;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: all .2s ease-in-out;
}

.footer_navigation_chapter_link_58f7bdc3 a:hover {
	text-decoration-color: #3B4173;
}

.footer_chapter_icon_58f7bdc3 {
	width: 26px;
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #C1492E;
	border-radius: 50%;
}

.footer_bold_text_58f7bdc3 {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #3b4173;
}

.footer_text_58f7bdc3 {
	font-size: 15px;
	line-height: 18px;
	color: #717171;
}

.footer_block_58f7bdc3 {
	display: flex;
	margin-bottom: 10px;
	gap: 10px;
}

.footer_contacts_58f7bdc3,
.footer_address_58f7bdc3 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer_list_phones_58f7bdc3 {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.footer_phone_text_58f7bdc3 {
	font-size: 15px;
	line-height: 18px;
	color: #3b4173;
}

.footer_mail_58f7bdc3 {
	align-items: center;
}

/* BOTTOM BLOCK */
.footer_bottom_58f7bdc3 {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer_logo_copyright_58f7bdc3 {

}

.footer_logo_58f7bdc3 {
	margin-bottom: 18px;
}

.footer_copyright_58f7bdc3 {
	font-size: 13px;
	line-height: 15px;
	color: #717171;
}

.footer_payments_58f7bdc3 {
	display: flex;
	gap: 20px;
	align-items: center;
}

.footer_payment_58f7bdc3 {
	filter: grayscale(1);
	transition: all .2s ease-in-out;
}

.footer_payment_58f7bdc3:hover {
	filter: grayscale(0);
}

.footer_info_58f7bdc3 {
	max-width: 360px;
	text-align: right;
}

.footer_info_description_58f7bdc3 {
	font-size: 13px;
	line-height: 15px;
	color: #717171;
	margin-bottom: 11px;
}

.footer_info_link_58f7bdc3 {
	font-size: 13px;
	line-height: 15px;
	color: #3B4173;
	text-decoration: underline;
	text-decoration-color: transparent;
}

.footer_info_link_58f7bdc3:hover {
	text-decoration-color: #3B4173;
}