<footer class="footer_58f7bdc3 container_58f7bdc3">
	<div class="footer_top_block_58f7bdc3">
		<nav class="footer_navigation_58f7bdc3">
			<ul class="footer_navigation_chapter_58f7bdc3">
				<li class="footer_chapter_title_58f7bdc3">Дикторы</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Все дикторы</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Мужские голоса</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Женские голоса</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Детские голоса</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Известные</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Региональные</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Иностранные</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Кто озвучил</a>
				</li>
			</ul>

			<ul class="footer_navigation_chapter_58f7bdc3">
				<li class="footer_chapter_title_58f7bdc3">Услуги и сервисы</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Изготовление аудиороликов</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Сценарии аудиороликов</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Автоответчики</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Озвучка аудиокниг</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Озвучка видео</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Аудиогиды / Аудиоэкскурсии</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Озвучка игр</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Перевод / Локализация</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Хрономер</a>
				</li>
			</ul>

			<ul class="footer_navigation_chapter_58f7bdc3">
				<li class="footer_chapter_title_58f7bdc3">Информация</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">О студии</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Цены</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Оплата</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">FAQ</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Вакансии</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Правила сайта</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Контакты</a>
				</li>
				<li class="footer_navigation_chapter_link_58f7bdc3">
					<a href="#">Карта сайта</a>
				</li>
			</ul>
			</ul>
		</nav>

		<div class="footer_contacts_58f7bdc3">
			<h2 class="footer_chapter_title_58f7bdc3">Контакты</h2>

			<div class="footer_block_58f7bdc3">
				<div class="footer_chapter_icon_58f7bdc3">
					<img src="./image/phone.svg" alt="" >
				</div>

				<ul class="footer_list_phones_58f7bdc3">
					<li>
						<a class="footer_bold_text_58f7bdc3" href="#">8 800 200-45-51</a>
					</li>
					<li>
						<a class="footer_phone_text_58f7bdc3" href="#">+7 (930) 212-55-34</a>
					</li>
					<li class="footer_text_58f7bdc3">Пн - Пт с 10:00 до 19:00</li>
				</ul>
			</div>

			<div class="footer_block_58f7bdc3 footer_mail_58f7bdc3">
				<div class="footer_chapter_icon_58f7bdc3">
					<img src="./image/mail.svg" alt="" >
				</div>

				<a class="footer_bold_text_58f7bdc3" href="#">info@kupigolos.ru</a>
			</div>
		</div>

		<div class="footer_address_58f7bdc3">
			<h2 class="footer_chapter_title_58f7bdc3">Наши адреса</h2>

			<div class="footer_block_58f7bdc3">
				<div class="footer_chapter_icon_58f7bdc3">
					<img src="./image/map.svg" alt="" >
				</div>

				<ul class="footer_list_phones_58f7bdc3">
					<li class="footer_bold_text_58f7bdc3">Москва</li>
					<li class="footer_text_58f7bdc3">Большой Саввинский <br>переулок, 9 стр. 3</li>
				</ul>
			</div>

			<div class="footer_block_58f7bdc3">
				<div class="footer_chapter_icon_58f7bdc3">
					<img src="./image/map.svg" alt="" >
				</div>

				<ul class="footer_list_phones_58f7bdc3">
					<li class="footer_bold_text_58f7bdc3">Нижний Новгород</li>
					<li class="footer_text_58f7bdc3">Московское шоссе,<br> 52 корп. 4</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer_bottom_58f7bdc3">
		<div class="footer_logo_copyright_58f7bdc3">
			<img class="footer_logo_58f7bdc3" src="./image/logo_2.svg" alt="КупиГолос">
			<p class="footer_copyright_58f7bdc3">© 2013 - 2025 КупиГолос</p>
		</div>

		<div class="footer_payments_58f7bdc3">
			<img class="footer_payment_58f7bdc3" src="./image/mir_painted.svg" alt="Мир">
			<img class="footer_payment_58f7bdc3" src="./image/pay_pal_painted.svg" alt="PayPal">
			<img class="footer_payment_58f7bdc3" src="./image/yandex_money_painted.svg" alt="Yandex Деньги">
			<img class="footer_payment_58f7bdc3" src="./image/qiwi.svg" alt="Qiwi">
			<img class="footer_payment_58f7bdc3" src="./image/master_card_painted.svg" alt="MasterCard">
		</div>

		<div class="footer_info_58f7bdc3">
			<p class="footer_info_description_58f7bdc3">
				Онлайн сервис «КупиГолос» позволяет найти лучших дикторов для записи видео или аудио рекламы.
			</p>

			<a class="footer_info_link_58f7bdc3" href="#">Политика конфиденциальности</a>
		</div>
	</div>
</footer>