<div class="calendar" id="calendar-form">
	<div class="calendar-header">
		<button class="nav-btn" id="prev-month-form" title="Предыдущий месяц">
			<img src="./image/arrow_left.svg" alt="<">
		</button>

		<div class="month-year-selector">
			<select class="month-select" id="month-select-form"></select>
			<select class="year-select" id="year-select-form"></select>
		</div>

		<button class="nav-btn" id="next-month-form" title="Следующий месяц">
			<img src="./image/arrow_right.svg" alt=">">
		</button>
	</div>

	<div class="weekdays">
		<div>Пн</div><div>Вт</div><div>Ср</div><div>Чт</div>
		<div>Пт</div><div>Сб</div><div>Вс</div>
	</div>

	<div class="days" id="calendar-days-form"></div>
</div>