<div class="header_navigation_footer">
	<div class="header_navigation_footer_banner">
		<img class="header_navigation_footer_banner_icon" src="./img/movie_search.svg" alt="">
		<p class="header_navigation_footer_banner_text">КупиГолос - студия озвучивания с Кинопоиска</p>
	</div>

	<ul class="header_navigation_footer_networks">
		<li class="header_navigation_footer_network">
			<a href="#">
				<img class="header_navigation_footer_network_hover" src="./img/vk_red_hover.svg" alt="">
				<img class="header_navigation_footer_network_icon" src="./img/vk_red.svg" alt="">
			</a>
		</li>
		<li class="header_navigation_footer_network">
			<a href="#">
				<img class="header_navigation_footer_network_hover" src="./img/youtube_red_hover.svg" alt="">
				<img class="header_navigation_footer_network_icon" src="./img/youtube_red.svg" alt="">
			</a>
		</li>
		<li class="header_navigation_footer_network">
			<a href="#">
				<img class="header_navigation_footer_network_hover" src="./img/telegram_red_hover.svg" alt="">
				<img class="header_navigation_footer_network_icon" src="./img/telegram_red.svg" alt="">
			</a>
		</li>
		<li class="header_navigation_footer_network">
			<a href="#">
				<img class="header_navigation_footer_network_hover" src="./img/whatsapp_red_hover.svg" alt="">
				<img class="header_navigation_footer_network_icon" src="./img/whatsapp_red.svg" alt="">
			</a>
		</li><li class="header_navigation_footer_network">
		<a href="#">
			<img class="header_navigation_footer_network_hover" src="./img/max_red_hover.svg" alt="">
			<img class="header_navigation_footer_network_icon" src="./img/max_red.svg" alt="">
		</a>
	</li>

	</ul>
</div>

<div class="footer_phone">
	<a class="footer_phone_number" href="tel:">8 800 200-45-51</a>
	<button class="footer_phone_button" onclick="openForm()">Заказать звонок</button>
</div>