<div class="artists_filters_58f7bdc3">
	<div class="artists_filters_search_58f7bdc3">
		<input class="artists_filters_search_input_58f7bdc3" aria-label="Поиск" placeholder="Поиск по имени или номеру диктора">
		<button class="artists_filters_search_button_58f7bdc3">Найти</button>
	</div>

	<div class="artists_filters_select_58f7bdc3">
		<select class="artists_filters_hidden_select_58f7bdc3" name="languages" id="languages-true-select">
			<option value="">Выберите язык</option>
			<option value="language">Английский</option>
			<option value="language">Английский</option>
			<option value="language">Английский</option>
			<option value="language">Английский</option>
		</select>

		<div class="artists_filters_custom_select_58f7bdc3">
			<div class="artists_filters_custom_select_display_58f7bdc3">
				<span class="artists_filters_custom_select_placeholder_58f7bdc3">Выберите язык</span>
			</div>
			<span class="artists_filters_custom_select_arrow_58f7bdc3">▼</span>
		</div>

		<ul class="artists_filters_custom_select_options_58f7bdc3">
			<li class="artists_filters_custom_select_option_58f7bdc3" data-value="">
				<img class="artists_filters_custom_select_option_icon_58f7bdc3" src="./img/language.svg" alt="">
				<span class="artists_filters_custom_select_option_title_58f7bdc3">Выберите язык</span>
			</li>
			<li class="artists_filters_custom_select_option_58f7bdc3" data-value="">
				<img class="artists_filters_custom_select_option_icon_58f7bdc3" src="./img/language.svg" alt="">
				<span class="artists_filters_custom_select_option_title_58f7bdc3">Английский</span>
			</li>
			<li class="artists_filters_custom_select_option_58f7bdc3" data-value="">
				<img class="artists_filters_custom_select_option_icon_58f7bdc3" src="./img/language.svg" alt="">
				<span class="artists_filters_custom_select_option_title_58f7bdc3">Английский</span>
			</li>
			<li class="artists_filters_custom_select_option_58f7bdc3" data-value="">
				<img class="artists_filters_custom_select_option_icon_58f7bdc3" src="./img/language.svg" alt="">
				<span class="artists_filters_custom_select_option_title_58f7bdc3">Английский</span>
			</li>
			<li class="artists_filters_custom_select_option_58f7bdc3" data-value="">
				<img class="artists_filters_custom_select_option_icon_58f7bdc3" src="./img/language.svg" alt="">
				<span class="artists_filters_custom_select_option_title_58f7bdc3">Английский</span>
			</li>
		</ul>
	</div>
</div>