.top_banner_58f7bdc3 {
	height: 100px;
	width: 100%;

	@media screen and (max-width: 810px) {
		display: none;
	}
}

.top_banner_container_58f7bdc3 {
	padding-top: 50px;
	padding-bottom: 10px;
	width: 100%;
	background-color: black;
	border-radius: 25px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.top_banner_content_58f7bdc3 {
	width: 670px;
	display: flex;
	gap: 22px;
	align-items: center;
	transition: all .2s ease-in-out;
}

.top_banner_movie_search_logo_58f7bdc3 {

}

.top_banner_x_icon_58f7bdc3 {

}

.top_banner_buy_voice_logo_58f7bdc3 {

}

.top_banner_text_58f7bdc3 {
	color: white;
}