
<div class="banner_58f7bdc3">
	<div class="container_58f7bdc3 banner_container_58f7bdc3">
		<div class="banner_content_58f7bdc3">
			<h2 class="banner_text_58f7bdc3">
				Зайдите в наш телеграм бот, пройдите тест на стиль пения и получите подарок
			</h2>
			<button class="banner_button_58f7bdc3">
				Получить подарок
				<img class="banner_icon_58f7bdc3" src="./image/telegram.svg" alt="" >
			</button>
		</div>

		<img class="banner_image_58f7bdc3" src="./image/banner.png" alt="">
	</div>
</div>