<div class="top_banner_58f7bdc3">
	<div class="top_banner_container_58f7bdc3 container_58f7bdc3">
		<div class="top_banner_content_58f7bdc3">
			<img class="top_banner_movie_search_logo_58f7bdc3" src="./img/movie_search_logo.svg" alt="Кинопоиск" >
			<img class="top_banner_x_icon_58f7bdc3" src="./img/x_icon.svg" alt="x" />
			<img class="top_banner_buy_voice_logo_58f7bdc3" src="./img/buy_voice_logo.svg" alt="КупиГолос">
			<p class="top_banner_text_58f7bdc3">Студия озвучивания с Кинопоиска</p>
		</div>
	</div>
</div>