

.banner_58f7bdc3 {

	background-color: #C1492E;
	margin-bottom: 100px;
}

.banner_container_58f7bdc3 {
	display: flex;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	flex-direction: column;

	@media screen and (max-width: 810px) {
		gap: 40px;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 0;
	}
}

.banner_content_58f7bdc3 {
	max-width: 470px;
}

.banner_text_58f7bdc3 {
	color: white;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 40px;

	@media screen and (max-width: 810px) {
		font-size: 16px;
		text-align: center;
		margin-bottom: 20px;
	}
}

.banner_button_58f7bdc3 {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	font-size: 18px;
	font-weight: 600;
	border-radius: 7px;
	border: none;
	text-transform: uppercase;
	padding-left: 25px;
	padding-right: 25px;

	@media screen and (max-width: 810px) {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
	}
}

.banner_icon_58f7bdc3 {
	width: 24px;
	height: 24px;
}

.banner_image_58f7bdc3 {
	position: absolute;
	right: 0;
	bottom: 0;

	@media screen and (max-width: 810px) {
		position: static;
	}
}